In [1]:
import pandas as pd

from glob import glob

In [2]:
df= sorted(glob('data/Total Confirmed Cases by Date_*.csv'))
df

[]

In [3]:
df=pd.concat((pd.read_csv(file).assign(filename=file)
          for file in df), ignore_index= True)

ValueError: No objects to concatenate

In [4]:
df.tail()

,Date,ConfirmedGrowth,Confirmed,Tests,Geography,ID Geography,Population,ConfirmedPC,DeathsPC,TestsPC,HospitalizedPC,ConfirmedGrowthPC,Timestamp,Deaths,Hospitalized,filename
758,5/14,1347.0,45198,645992,Texas,04000US48,28701845,157.474197,4.431771,2250.698518,NaN,4.693078,1589500800000,1272,0,data\Total Confirmed Cases by Date_florida.csv
759,5/15,1801.0,46999,678471,Texas,04000US48,28701845,163.749055,4.546746,2363.858491,NaN,6.274858,1589587200000,1305,0,data\Total Confirmed Cases by Date_florida.csv
760,5/16,785.0,47784,693276,Texas,04000US48,28701845,166.484071,4.654753,2415.440540,NaN,2.735016,1589673600000,1336,0,data\Total Confirmed Cases by Date_florida.csv
761,5/17,909.0,48693,723013,Texas,04000US48,28701845,169.651115,4.693078,2519.047120,NaN,3.167044,1589760000000,1347,0,data\Total Confirmed Cases by Date_florida.csv
762,5/18,1219.0,49912,744937,Texas,04000US48,28701845,173.898228,4.769728,2595.432454,NaN,4.247114,1589846400000,1369,0,data\Total Confirmed Cases by Date_florida.csv

In [57]:
df.shape

(763, 16)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763 entries, 0 to 762
Data columns (total 16 columns):
Date                 763 non-null object
ConfirmedGrowth      753 non-null float64
Confirmed            763 non-null int64
Tests                763 non-null int64
Geography            763 non-null object
ID Geography         763 non-null object
Population           763 non-null int64
ConfirmedPC          762 non-null float64
DeathsPC             763 non-null float64
TestsPC              763 non-null float64
HospitalizedPC       283 non-null float64
ConfirmedGrowthPC    741 non-null float64
Timestamp            763 non-null int64
Deaths               763 non-null int64
Hospitalized         763 non-null int64
filename             763 non-null object
dtypes: float64(6), int64(6), object(4)
memory usage: 95.5+ KB

In [59]:
df_del= df.drop('filename', 1)
df_del.columns

Index(['Date', 'ConfirmedGrowth', 'Confirmed', 'Tests', 'Geography',
       'ID Geography', 'Population', 'ConfirmedPC', 'DeathsPC', 'TestsPC',
       'HospitalizedPC', 'ConfirmedGrowthPC', 'Timestamp', 'Deaths',
       'Hospitalized'],
      dtype='object')

In [62]:
df_del['Geography'].unique()

array(['California', 'Illinois', 'Massachusetts', 'Michigan',
       'Pennsylvania', 'Florida', 'Maryland', 'Texas'], dtype=object)

In [73]:
df_del['Geography'].value_counts()

Michigan         160
Pennsylvania     150
Illinois          77
Texas             77
Florida           77
California        77
Maryland          76
Massachusetts     69
Name: Geography, dtype: int64

In [63]:
df_drop= df_del.drop_duplicates()

In [64]:
df_drop.shape

(608, 15)

In [74]:
df_drop['Geography'].value_counts()

Michigan         80
Illinois         77
Florida          77
Texas            77
California       77
Maryland         76
Pennsylvania     75
Massachusetts    69
Name: Geography, dtype: int64

In [75]:
df_del['Geography'].isnull().sum()

0

In [76]:
df_drop.to_csv(r'data\File Name.csv', index = False)