In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

# import from website daily COVID-19 tracking for all states
not using this datset for the project, only to show method of using beautiful soup to extract data

check for respnse

In [2]:
website_url = 'https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#'
response = requests.get(website_url)

response.status_code

200

### check content

In [3]:
print(type(response))
#response.content

<class 'requests.models.Response'>

# Use Beautiful Soup package for extracting data

In [4]:
soup = BS(response.content, 'lxml')
print(soup.title)

<title>Coronavirus numbers by state - Google Drive</title>

### Get the tables from the page

In [5]:
tables = soup.find_all('table', attrs = {'class': 'waffle'})
#tables

### check number of tables extracted

In [6]:
len(tables)

6

get the tables as dataframes

In [7]:
result_list = pd.read_html(str(tables[3]))
len(result_list)

1

get the first dataframe from the list

In [8]:
covid_19_states = result_list[0]  # get the first df from the list

covid_19_states.columns = covid_19_states.iloc[0] #use first row as columns names

#covid_19_states.head(10)

In [9]:
#not using this dataframe for the project, only shows another way of using beautiful soup extracting data
#create dataframe from the list
#df1=pd.DataFrame()
#df1=df1.append(pd.DataFrame(result_list[0]))
#df1.shape

In [10]:
 #df1.to_csv('..\data\covid_19_daily_update_allStates.csv', index= False)# save it to csv file

# import from website more tables on covid-19
use this dataset for the project

In [11]:
df2 = pd.read_csv('https://covidtracking.com/api/v1/states/daily.csv')

In [12]:
df2.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200612,AK,625.0,70255.0,NaN,15.0,NaN,NaN,NaN,3.0,...,70880,1,0,5f1a4d5e430995ef9030e190ec73783f54ae0d34,0,0,0,0,0,NaN
1,20200612,AL,23710.0,262675.0,NaN,622.0,2202.0,NaN,658.0,NaN,...,286385,14,37,dcbcb0ffeb87d85d6579b48479e7c00de3059a96,0,0,0,0,0,NaN
2,20200612,AR,11547.0,169575.0,NaN,203.0,961.0,NaN,NaN,49.0,...,181122,5,36,4bee2db901732ed74238ccbf11e271ba60bcc9fe,0,0,0,0,0,NaN
3,20200612,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,ba79cae0ba7e6ce817ec720ab5b17bca838471c3,0,0,0,0,0,NaN
4,20200612,AZ,32918.0,278318.0,NaN,1336.0,3622.0,429.0,NaN,278.0,...,311236,17,91,7e588d0ceb11906740fae70a21bf967f3b6bed91,0,0,0,0,0,NaN

Save it to csv file and continue to clean and explore in another notebook

In [13]:
#save to csv file, then use another notebook for cleaning and EDA, continue to the next notebook
df2.to_csv('..\data\covid_19_update_allStates_2.csv', index= False)

# import  counties

In [14]:
#this link includes counties, but it includes noly latest date aboute covid-19
#df3= pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv')

In [15]:
#this link includes counties with all dates since the begining of the pandamic
df3= pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [16]:
#df3 = df3.fillna(0)

In [17]:
#comment it out because we are going to change the data type in the final combined all dataframes in the join notebook
'''df3= df3.astype({  "fips": int,
                  "cases": int,
                'deaths' : int,
                                       
                 })        #convert columns data type to int'''

'df3= df3.astype({  "fips": int,\n                  "cases": int,\n                \'deaths\' : int,\n                                       \n                 })        #convert columns data type to int'

In [18]:
df3.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [19]:
#save it as csv file and send join it in the join notebook 
df3.to_csv('..\data\covid_19_update_allStatesAndCounties_3.csv', index= False)

## import states lockdown dates: start and end

1- import date start of the lockdown from website

In [2]:
website_url = 'https://ballotpedia.org/Status_of_lockdown_and_stay-at-home_orders_in_response_to_the_coronavirus_(COVID-19)_pandemic,_2020'
response = requests.get(website_url)

response.status_code

200

In [3]:
print(type(response))
#response.content

<class 'requests.models.Response'>

In [4]:
soup = BS(response.content, 'lxml')
print(soup.title)

<title>Status of lockdown and stay-at-home orders in response to the coronavirus (COVID-19) pandemic, 2020 - Ballotpedia</title>

In [20]:
url='https://ballotpedia.org/Status_of_lockdown_and_stay-at-home_orders_in_response_to_the_coronavirus_(COVID-19)_pandemic,_2020'

In [21]:
df_lockdown_start_date = pd.DataFrame()

response = requests.post(url)
soup = BS(response.text, 'lxml')
   
tables = soup.find_all('table',
                           attrs = {'class': 'marqueetable endorsements'})
result_list = pd.read_html(str(tables[0]))
#turn the list to datframe
df_lockdown_start_date = pd.DataFrame(result_list[0])

In [22]:
df_lockdown_start_date.head()

  Statewide lockdown orders  \
                      State
0                   Alabama
1                    Alaska
2                   Arizona
3                  Arkansas
4                California

                                                                    \
                                         Order dates Link to order
0                                  April 4- April 30          Link
1  March 28 - April 27 (business can begin to reo...          Link
2                               March 31 - May 15[5]          Link
3                                               None           NaN
4                                     March 19 - TBD          Link


                    Official name of order
0        Suspend certain public gatherings
1                         Shelter-in-place
2  Stay home, stay healthy, stay connected
3                                      NaN
4                         Shelter-in-place

In [23]:
df_lockdown_start_date.columns

MultiIndex([('Statewide lockdown orders',                  'State'),
            ('Statewide lockdown orders',            'Order dates'),
            ('Statewide lockdown orders',          'Link to order'),
            ('Statewide lockdown orders', 'Official name of order')],
           )

Drop mutiindex column from the dataframe

In [24]:
df_lockdown_start_date= df_lockdown_start_date['Statewide lockdown orders'].reset_index(drop=True)

In [25]:
df_lockdown_start_date.head()

,State,Order dates,Link to order,Official name of order
0,Alabama,April 4- April 30,Link,Suspend certain public gatherings
1,Alaska,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place
2,Arizona,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected"
3,Arkansas,None,NaN,NaN
4,California,March 19 - TBD,Link,Shelter-in-place

In [26]:
df_lockdown_start_date['State'].nunique()

50

In [27]:
df_lockdown_start_date['date_start'], df_lockdown_start_date['date_end'] = df_lockdown_start_date['Order dates'].str.split('-', 1).str

In [43]:
df_lockdown_start_date.head()

        State date_start                                           date_end
0     Alabama    April 4                                           April 30
1      Alaska  March 28    April 27 (business can begin to reopen with r...
2     Arizona  March 31                                           May 15[5]
3    Arkansas       None                                                NaN
4  California  March 19                                                 TBD

In [30]:
df_lockdown_start_date=df_lockdown_start_date[['State', 'date_start','date_end']]

In [31]:
df_lockdown_start_date.head()

        State date_start                                           date_end
0     Alabama    April 4                                           April 30
1      Alaska  March 28    April 27 (business can begin to reopen with r...
2     Arizona  March 31                                           May 15[5]
3    Arkansas       None                                                NaN
4  California  March 19                                                 TBD

Seven states don't have lockdown dates

In [32]:
#save it to csv file and join it later in the join notebook
df_lockdown_start_date.to_csv('../data/states_lockdown_dates.csv', index= False)

# import another dataset on lockdown end_date

2- import date end of lockdown from another website

In [39]:
# website_url = 'https://www.timeanddate.com/holidays/us/last-day-of-lockdown'
# response = requests.get(website_url)

# response.status_code

In [40]:
# soup = BS(response.content, 'lxml')
# print(soup.title)

In [41]:
#tables = soup.find_all('table', attrs = {'class': 'tb-theme fw sep'})
#tables

In [42]:
#len(tables)

In [38]:
# result_list = pd.read_html(str(tables[0]))
# len(result_list)

In [37]:
# lockdown_end_date = result_list[0]  # get the first df from the list

# lockdown_end_date.head()

In [36]:
#lockdown_end_date['Area'].nunique()

38

In [36]:
# df_lockdown_end_date= lockdown_end_date[['Area', 'Date']]
# df_lockdown_end_date.head()

In [35]:
#df_lockdown_end_date_clean= df_lockdown_end_date.rename(columns={'Area' : 'State' , 'Date' : 'date_end'})

In [34]:
#df_lockdown_end_date_clean.head()

merge both dataframes of date start and date end

In [40]:
# lockdown_start_end= pd.merge (
#                              df_lockdown_end_date_clean,
#                              df_lockdown_start_date,
#                                 on = ['State'],
#                                 how = 'left', sort = True)

In [33]:
#lockdown_start_end.head()

In [42]:
#decide if we are going to use this dataset then save it 
#save it to csv file and join it later in the join notebook
#lockdown_start_end.to_csv('../data/states_lockdown_dates.csv', index= False)