In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

# import from website daily COVID-19 tracking for all states
not using this datset for the project, only to show method of using beautiful soup to extract data

check for respnse

In [2]:
website_url = 'https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#'
response = requests.get(website_url)

response.status_code

200

### check content

In [3]:
print(type(response))
#response.content

<class 'requests.models.Response'>

# Use Beautiful Soup package for extracting data

In [4]:
soup = BS(response.content, 'lxml')
print(soup.title)

<title>Coronavirus numbers by state - Google Drive</title>

### Get the tables from the page

In [5]:
tables = soup.find_all('table', attrs = {'class': 'waffle'})
#tables

### check number of tables extracted

In [6]:
len(tables)

6

get the tables as dataframes

In [7]:
result_list = pd.read_html(str(tables[3]))
len(result_list)

1

get the first dataframe from the list

In [8]:
covid_19_states = result_list[0]  # get the first df from the list

covid_19_states.columns = covid_19_states.iloc[0] #use first row as columns names

#covid_19_states.head(10)

,1.0,Date,State,Positive,Negative,Pending,Hospitalized – Currently,Hospitalized – Cumulative,In ICU – Currently,In ICU – Cumulative,On Ventilator – Currently,On Ventilator – Cumulative,Recovered,Deaths,Data Quality Grade,Last Update ET
0,1.0,Date,State,Positive,Negative,Pending,Hospitalized – Currently,Hospitalized – Cumulative,In ICU – Currently,In ICU – Cumulative,On Ventilator – Currently,On Ventilator – Cumulative,Recovered,Deaths,Data Quality Grade,Last Update ET
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,20200609,AK,573,66317,NaN,12,NaN,NaN,NaN,1,NaN,389,11,A,6/9/2020 00:00
3,3.0,20200609,AL,21422,246317,NaN,600,2087,NaN,631,NaN,375,11395,729,B,6/9/2020 11:00
4,4.0,20200609,AR,10080,155701,NaN,173,865,NaN,NaN,44,144,6875,161,A,6/9/2020 15:00
5,5.0,20200609,AS,0,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,C,6/1/2020 00:00
6,6.0,20200609,AZ,28296,264917,NaN,1243,3406,438,NaN,264,NaN,5764,1070,A+,6/9/2020 00:00
7,7.0,20200609,CA,133489,2352756,NaN,4583,NaN,1345,NaN,NaN,NaN,NaN,4697,B,6/9/2020 00:00
8,8.0,20200609,CO,28183,193704,NaN,304,4859,NaN,NaN,NaN,NaN,4112,1543,A,6/9/2020 00:00
9,9.0,20200609,CT,44179,268472,NaN,293,9669,NaN,NaN,NaN,NaN,7284,4097,B,6/8/2020 20:30

In [9]:
#not using this dataframe for the project, only shows another way of using beautiful soup extracting data
#create dataframe from the list
#df1=pd.DataFrame()
#df1=df1.append(pd.DataFrame(result_list[0]))
#df1.shape

(5395, 16)

In [10]:
 #df1.to_csv('..\data\covid_19_daily_update_allStates.csv', index= False)# save it to csv file

# import from website more tables on covid-19
use this dataset for the project

In [11]:
df2 = pd.read_csv('https://covidtracking.com/api/v1/states/daily.csv')

In [12]:
df2.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200609,AK,573.0,66317.0,NaN,12.0,NaN,NaN,NaN,1.0,...,66890,1,0,9eaf1802a047fc56612f95b6e8221d463088d951,0,0,0,0,0,NaN
1,20200609,AL,21422.0,246317.0,NaN,600.0,2087.0,NaN,631.0,NaN,...,267739,11,33,efc4ed6259393a9d1a456d534f048bed440a3188,0,0,0,0,0,NaN
2,20200609,AR,10080.0,155701.0,NaN,173.0,865.0,NaN,NaN,44.0,...,165781,6,21,851214658655b6d73de5bdcef6d60ff6f4cba91f,0,0,0,0,0,NaN
3,20200609,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,0df19625dbb3d07994abcf96f96cf424a01197f9,0,0,0,0,0,NaN
4,20200609,AZ,28296.0,264917.0,NaN,1243.0,3406.0,438.0,NaN,264.0,...,293213,23,29,13e930e15aa12c07ffcf3af528334c67a01893a1,0,0,0,0,0,NaN

Save it to csv file and continue to clean and explore in another notebook

In [13]:
#save to csv file, then use another notebook for cleaning and EDA, continue to the next notebook
df2.to_csv('..\data\covid_19_update_allStates_2.csv', index= False)

# import  counties

In [14]:
#this link includes counties, but it includes noly latest date aboute covid-19
#df3= pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv')

In [27]:
#this link includes counties with all dates since the begining of the pandamic
df3= pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [30]:
#df3 = df3.fillna(0)

In [31]:
#comment it out because we are going to change the data type in the final combined all dataframes in the join notebook
'''df3= df3.astype({  "fips": int,
                  "cases": int,
                'deaths' : int,
                                       
                 })        #convert columns data type to int'''

In [34]:
df3.head()

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [35]:
#save it as csv file and send join it in the join notebook 
df3.to_csv('..\data\covid_19_update_allStatesAndCounties_3.csv', index= False)

## import states lockdown dates: start and end

1- import date start of the lockdown from website

In [2]:
website_url = 'https://ballotpedia.org/Status_of_lockdown_and_stay-at-home_orders_in_response_to_the_coronavirus_(COVID-19)_pandemic,_2020'
response = requests.get(website_url)

response.status_code

200

In [3]:
print(type(response))
#response.content

<class 'requests.models.Response'>

In [4]:
soup = BS(response.content, 'lxml')
print(soup.title)

<title>Status of lockdown and stay-at-home orders in response to the coronavirus (COVID-19) pandemic, 2020 - Ballotpedia</title>

In [5]:
url='https://ballotpedia.org/Status_of_lockdown_and_stay-at-home_orders_in_response_to_the_coronavirus_(COVID-19)_pandemic,_2020'

In [6]:
df_lockdown_start_date = pd.DataFrame()

response = requests.post(url)
soup = BS(response.text, 'lxml')
   
tables = soup.find_all('table',
                           attrs = {'class': 'marqueetable endorsements'})
result_list = pd.read_html(str(tables[0]))
#turn the list to datframe
df_lockdown_start_date = pd.DataFrame(result_list[0])

In [7]:
df_lockdown_start_date.head()

  Statewide lockdown orders  \
                      State
0                   Alabama
1                    Alaska
2                   Arizona
3                  Arkansas
4                California

                                                                    \
                                         Order dates Link to order
0                                  April 4- April 30          Link
1  March 28 - April 27 (business can begin to reo...          Link
2                               March 31 - May 15[5]          Link
3                                               None           NaN
4                                     March 19 - TBD          Link


                    Official name of order
0        Suspend certain public gatherings
1                         Shelter-in-place
2  Stay home, stay healthy, stay connected
3                                      NaN
4                         Shelter-in-place

In [8]:
df_lockdown_start_date.columns

MultiIndex([('Statewide lockdown orders',                  'State'),
            ('Statewide lockdown orders',            'Order dates'),
            ('Statewide lockdown orders',          'Link to order'),
            ('Statewide lockdown orders', 'Official name of order')],
           )

Drop mutiindex column from the dataframe

In [9]:
df_lockdown_start_date= df_lockdown_start_date['Statewide lockdown orders'].reset_index(drop=True)

,State,Order dates,Link to order,Official name of order
0,Alabama,April 4- April 30,Link,Suspend certain public gatherings
1,Alaska,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place
2,Arizona,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected"
3,Arkansas,None,NaN,NaN
4,California,March 19 - TBD,Link,Shelter-in-place

In [24]:
df_lockdown_start_date

,State,Order dates,Link to order,Official name of order
0,Alabama,April 4- April 30,Link,Suspend certain public gatherings
1,Alaska,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place
2,Arizona,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected"
3,Arkansas,None,NaN,NaN
4,California,March 19 - TBD,Link,Shelter-in-place
5,Colorado,March 26 - April 26[6],Link,Stay-at-home
6,Connecticut,March 23 - May 20[7],Link,"Stay Safe, Stay Home"
7,Delaware,March 24 - May 31,Link,Stay-at-Home
8,Florida,April 2 - May 4,Link,Stay-at-home
9,Georgia,April 3 - April 30[8],Link,Shelter-in-place
10,Hawaii,March 25 - May 31[9],Link,Stay-at-home
11,Idaho,March 25 - April 30[10],Link,Stay home
12,Illinois,March 21 - May 29[11],Link,Stay-at-Home
13,Indiana,March 24 - May 1[12][13],Link,Stay-at-home
14,Iowa,None,NaN,NaN
15,Kansas,March 30 - May 3[14],Link,Stay home
16,Kentucky,March 26 - TBD,Link,Stay healthy at home
17,Louisiana,March 23 - May 15[15],Link,Stay-at-Home
18,Maine,April 2 - May 31[16],Link,Stay-at-home
19,Maryland,March 30 - May 15,Link,Stay-at-home
20,Massachusetts,March 24 - May 18[17][18][19],Link,Stay-at-home
21,Michigan,March 24 - June 1[20][21][22][23],Link,"Stay Home, Stay Safe"
22,Minnesota,March 27 - May 17[24][25][26][27],Link,Stay-at-home
23,Mississippi,April 3 - April 27[28],Link,Shelter-in-place
24,Missouri,April 6 - May 3[29],Link,Stay Home Missouri
25,Montana,March 28 - April 26[30][31],Link,Stay-at-home
26,Nebraska,None,NaN,NaN
27,Nevada,April 1 - May 15,Link,Stay-at-home
28,New Hampshire,March 27 - June 15[32],Link,Stay-at-home 2.0
29,New Jersey,March 21 - June 9 [33],Link,Stay-at-home
30,New Mexico,March 24 - June 30[34][35][36][37],Link,Stay-at-home
31,New York,March 20 - June 27[38],Link,New York State on PAUSE
32,North Carolina,March 30 - May 22[39][40],Link,Stay-at-home
33,North Dakota,None,NaN,NaN
34,Ohio,March 23 - May 19[41][42][43],Link,Stay-at-home
35,Oklahoma,April 1 - May 6[44],Link,Safer at home
36,Oregon,March 23 - TBD,Link,Stay-at-home
37,Pennsylvania,April 1 - June 4[45][46],Link,Stay-at-home
38,Rhode Island,March 28 - May 8[47],Link,Stay-at-home
39,South Carolina,April 7 - May 4[48],Link,Home or work
40,South Dakota,None,NaN,NaN
41,Tennessee,March 31 - April 30[49],Link,Safer at home
42,Texas,April 2 - April 30,Link,Statewide essential services and activities pr...
43,Utah,None,NaN,NaN
44,Vermont,March 24 - May 15[50],Link,Stay-at-home
45,Virginia,March 30 - May 29,Link,Stay-at-home
46,Washington,March 24 - May 31[51][52],Link,Stay-at-home
47,West Virginia,March 24 - May 4,Link,Stay-at-home
48,Wisconsin,March 25 - May 13[53][54],Link,Safer at Home
49,Wyoming,None,NaN,NaN

In [22]:
df_lockdown_start_date['State'].nunique()

50

Seven states don't have lockdown dates

2- import date end of lockdown from another website

In [10]:
website_url = 'https://www.timeanddate.com/holidays/us/last-day-of-lockdown'
response = requests.get(website_url)

response.status_code

200

In [11]:
soup = BS(response.content, 'lxml')
print(soup.title)

<title>Last Day of Stay at Home Order in the United States</title>

In [12]:
tables = soup.find_all('table', attrs = {'class': 'tb-theme fw sep'})
#tables

In [13]:
len(tables)

1

In [14]:
result_list = pd.read_html(str(tables[0]))
len(result_list)

1

In [15]:
lockdown_end_date = result_list[0]  # get the first df from the list

lockdown_end_date.head()

,Year,Weekday,Date,Name,Holiday Type,Area
0,2020,Tue,Apr 21,Last Day of Stay at Home Order,COVID-19 Lockdown,Alaska
1,2020,Fri,Apr 24,Last Day of Stay at Home Directive,COVID-19 Lockdown,Montana
2,2020,Sun,Apr 26,Last Day of Stay at Home Order,COVID-19 Lockdown,Colorado
3,2020,Thu,Apr 30,Last Day of Stay at Home Order,COVID-19 Lockdown,Alabama
4,2020,Thu,Apr 30,Last Day of Stay at Home Order,COVID-19 Lockdown,Georgia

In [23]:
lockdown_end_date['Area'].nunique()

38

In [16]:
df_lockdown_end_date= lockdown_end_date[['Area', 'Date']]
df_lockdown_end_date.head()

       Area    Date
0    Alaska  Apr 21
1   Montana  Apr 24
2  Colorado  Apr 26
3   Alabama  Apr 30
4   Georgia  Apr 30

In [17]:
df_lockdown_end_date_clean= df_lockdown_end_date.rename(columns={'Area' : 'State' , 'Date' : 'date_end'})

In [18]:
df_lockdown_end_date_clean.head()

      State date_end
0    Alaska   Apr 21
1   Montana   Apr 24
2  Colorado   Apr 26
3   Alabama   Apr 30
4   Georgia   Apr 30

merge both dataframes of date start and date end

In [19]:
lockdown_start_end= pd.merge (
                             df_lockdown_end_date_clean,
                             df_lockdown_start_date,
                                on = ['State'],
                                how = 'left', sort = True)

In [25]:
lockdown_start_end

,State,date_end,Order dates,Link to order,Official name of order
0,Alabama,Apr 30,April 4- April 30,Link,Suspend certain public gatherings
1,Alaska,Apr 21,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place
2,Arizona,May 15,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected"
3,Colorado,Apr 26,March 26 - April 26[6],Link,Stay-at-home
4,Connecticut,May 20,March 23 - May 20[7],Link,"Stay Safe, Stay Home"
5,Delaware,May 31,March 24 - May 31,Link,Stay-at-Home
6,District of Columbia,May 29,NaN,NaN,NaN
7,Florida,May 3,April 2 - May 4,Link,Stay-at-home
8,Georgia,Apr 30,April 3 - April 30[8],Link,Shelter-in-place
9,Hawaii,May 31,March 25 - May 31[9],Link,Stay-at-home
10,Idaho,Apr 30,March 25 - April 30[10],Link,Stay home
11,Illinois,May 30,March 21 - May 29[11],Link,Stay-at-Home
12,Indiana,May 3,March 24 - May 1[12][13],Link,Stay-at-home
13,Kansas,May 3,March 30 - May 3[14],Link,Stay home
14,Louisiana,May 15,March 23 - May 15[15],Link,Stay-at-Home
15,Massachusetts,May 18,March 24 - May 18[17][18][19],Link,Stay-at-home
16,Michigan,Jun 1,March 24 - June 1[20][21][22][23],Link,"Stay Home, Stay Safe"
17,Minnesota,May 17,March 27 - May 17[24][25][26][27],Link,Stay-at-home
18,Mississippi,May 25,April 3 - April 27[28],Link,Shelter-in-place
19,Missouri,May 3,April 6 - May 3[29],Link,Stay Home Missouri
20,Montana,Apr 24,March 28 - April 26[30][31],Link,Stay-at-home
21,Nevada,May 15,April 1 - May 15,Link,Stay-at-home
22,New Hampshire,Jun 15,March 27 - June 15[32],Link,Stay-at-home 2.0
23,New Mexico,Jun 30,March 24 - June 30[34][35][36][37],Link,Stay-at-home
24,New York,Jun 13,March 20 - June 27[38],Link,New York State on PAUSE
25,North Carolina,May 22,March 30 - May 22[39][40],Link,Stay-at-home
26,Ohio,May 19,March 23 - May 19[41][42][43],Link,Stay-at-home
27,Oklahoma,Apr 30,April 1 - May 6[44],Link,Safer at home
28,Pennsylvania,Jun 4,April 1 - June 4[45][46],Link,Stay-at-home
29,Rhode Island,May 8,March 28 - May 8[47],Link,Stay-at-home
30,South Carolina,May 4,April 7 - May 4[48],Link,Home or work
31,Tennessee,Apr 30,March 31 - April 30[49],Link,Safer at home
32,Texas,Apr 30,April 2 - April 30,Link,Statewide essential services and activities pr...
33,Utah,May 1,None,NaN,NaN
34,Vermont,May 15,March 24 - May 15[50],Link,Stay-at-home
35,Virginia,Jun 10,March 30 - May 29,Link,Stay-at-home
36,Washington,May 31,March 24 - May 31[51][52],Link,Stay-at-home
37,Wisconsin,May 13,March 25 - May 13[53][54],Link,Safer at Home

In [21]:
#save it to csv file and join it later in the join notebook
lockdown_start_end.to_csv('../data/states_lockdown_dates.csv', index= False)