In [1]:
import pandas as pd

# import Global_Mobility_Report from website

filter to only united sates information
drop not wanted columns
renames columns
save the file

In [2]:
#%%time

#create an empty chunk list
united_states =[]

for chunk in pd.read_csv('https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv',chunksize = 1000):

    
#filter to only United States  
    chunk = chunk[chunk['country_region'] == 'United States']
    
    #chunk = chunk['sub_region_1'] != 'NaN'
   # chunk.dropna=['sub_region_1'])
    united_states.append(chunk) 
    
#concat the chunk list to one dataframe               
df_united_states = pd.concat(united_states, ignore_index=True)

In [3]:
df_united_states.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [2]:
#another way to import the cell above
df_globe_mobility = pd.read_csv('https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv')

C:\Users\arikh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_globe_mobility.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [14]:
#choose to filter by commenting out the code or remove the comment
df_united_states = df_globe_mobility[df_globe_mobility['country_region']== 'United States'] #get only united states
df_united_states = df_united_states[df_united_states['sub_region_1'].notna()]                 #filter to all states
#df_united_states = df_united_states[df_united_states['sub_region_2'].isna()]   #remove counties from the dataframe

In [15]:
#drop unwanted columns from the dataframe
df_united_states = df_united_states.drop(['country_region'], axis=1) # drop country names
#df_states = df_states.drop(['sub_region_2'], axis=1)          #drop all sub_region such as counties
df_united_states.tail()

,country_region_code,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
496916,US,Wyoming,Weston County,2020-06-01,NaN,NaN,NaN,NaN,-27.0,NaN
496917,US,Wyoming,Weston County,2020-06-02,NaN,NaN,NaN,NaN,-24.0,NaN
496918,US,Wyoming,Weston County,2020-06-03,NaN,NaN,NaN,NaN,-28.0,NaN
496919,US,Wyoming,Weston County,2020-06-04,NaN,NaN,NaN,NaN,-20.0,NaN
496920,US,Wyoming,Weston County,2020-06-05,NaN,NaN,NaN,NaN,-22.0,NaN

In [16]:
print(df_united_states.shape)

(300211, 10)

clean names of columns

In [17]:

df_mobility = df_united_states.rename(columns={'country_region_code': 'country_code',
                                              'sub_region_1': 'state',
                                             'sub_region_2': 'county',        #comment out county if not used above
        'retail_and_recreation_percent_change_from_baseline': 'retail_and_recreation',
         'grocery_and_pharmacy_percent_change_from_baseline': 'grocery_and_pharmacy',
                        'parks_percent_change_from_baseline': 'parks',
             'transit_stations_percent_change_from_baseline': 'transit_stations',
                   'workplaces_percent_change_from_baseline': 'workplaces',
                  'residential_percent_change_from_baseline': 'residential'})

In [18]:
df_mobility.head()

,country_code,state,county,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
196710,US,Alabama,NaN,2020-02-15,5.0,2.0,39.0,7.0,2.0,-1.0
196711,US,Alabama,NaN,2020-02-16,0.0,-2.0,-7.0,3.0,-1.0,1.0
196712,US,Alabama,NaN,2020-02-17,3.0,0.0,17.0,7.0,-17.0,4.0
196713,US,Alabama,NaN,2020-02-18,-4.0,-3.0,-11.0,-1.0,1.0,2.0
196714,US,Alabama,NaN,2020-02-19,4.0,1.0,6.0,4.0,1.0,0.0

Fill NaN with 0

In [13]:
#df_mobility = df_mobility.fillna(0)

In [15]:
#change the format of columns

'''df_mobility= df_mobility.astype({  "retail_and_recreation": int,
                                    "grocery_and_pharmacy": int,
                                                  'parks' : int,
                                       'transit_stations' : int,
                                             'workplaces' : int,
                                            'residential' : int
                                       
                                           })        #convert columns data type to int'''

In [19]:
df_mobility.tail()

,country_code,state,county,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
496916,US,Wyoming,Weston County,2020-06-01,NaN,NaN,NaN,NaN,-27.0,NaN
496917,US,Wyoming,Weston County,2020-06-02,NaN,NaN,NaN,NaN,-24.0,NaN
496918,US,Wyoming,Weston County,2020-06-03,NaN,NaN,NaN,NaN,-28.0,NaN
496919,US,Wyoming,Weston County,2020-06-04,NaN,NaN,NaN,NaN,-20.0,NaN
496920,US,Wyoming,Weston County,2020-06-05,NaN,NaN,NaN,NaN,-22.0,NaN

In [20]:
df_mobility.sort_values('state', ascending=True)

,country_code,state,county,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
196710,US,Alabama,NaN,2020-02-15,5.0,2.0,39.0,7.0,2.0,-1.0
201639,US,Alabama,Madison County,2020-03-02,2.0,3.0,-26.0,-2.0,2.0,2.0
201638,US,Alabama,Madison County,2020-03-01,8.0,6.0,69.0,16.0,4.0,-2.0
201637,US,Alabama,Madison County,2020-02-29,12.0,8.0,79.0,18.0,8.0,-3.0
201636,US,Alabama,Madison County,2020-02-28,6.0,6.0,6.0,14.0,2.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
495423,US,Wyoming,Fremont County,2020-04-10,-29.0,-8.0,NaN,NaN,-42.0,NaN
495424,US,Wyoming,Fremont County,2020-04-11,-32.0,NaN,NaN,NaN,-31.0,NaN
495425,US,Wyoming,Fremont County,2020-04-12,NaN,NaN,NaN,NaN,-34.0,NaN
495419,US,Wyoming,Fremont County,2020-04-06,NaN,NaN,NaN,NaN,-35.0,11.0
496920,US,Wyoming,Weston County,2020-06-05,NaN,NaN,NaN,NaN,-22.0,NaN

In [21]:
df_mobility['county'].unique()

array([nan, 'Autauga County', 'Baldwin County', ..., 'Uinta County',
       'Washakie County', 'Weston County'], dtype=object)

In [22]:
#replace the word County with nothing in the county column
df_mobility['county'] = df_mobility.county.str.replace('County' , '') #check this if county column is not removed

In [23]:
#check to see changes if have deleted any name
df_mobility['county'].unique()

array([nan, 'Autauga ', 'Baldwin ', ..., 'Uinta ', 'Washakie ', 'Weston '],
      dtype=object)

In [24]:
df_mobility['county'].nunique()

1715

In [25]:
df_mobility.tail()

,country_code,state,county,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
496916,US,Wyoming,Weston,2020-06-01,NaN,NaN,NaN,NaN,-27.0,NaN
496917,US,Wyoming,Weston,2020-06-02,NaN,NaN,NaN,NaN,-24.0,NaN
496918,US,Wyoming,Weston,2020-06-03,NaN,NaN,NaN,NaN,-28.0,NaN
496919,US,Wyoming,Weston,2020-06-04,NaN,NaN,NaN,NaN,-20.0,NaN
496920,US,Wyoming,Weston,2020-06-05,NaN,NaN,NaN,NaN,-22.0,NaN

In [26]:
df_mobility['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [27]:
df_mobility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300211 entries, 196710 to 496920
Data columns (total 10 columns):
country_code             300211 non-null object
state                    300211 non-null object
county                   294499 non-null object
date                     300211 non-null object
retail_and_recreation    216026 non-null float64
grocery_and_pharmacy     204430 non-null float64
parks                    76064 non-null float64
transit_stations         117088 non-null float64
workplaces               289486 non-null float64
residential              137183 non-null float64
dtypes: float64(6), object(4)
memory usage: 25.2+ MB

In [28]:
#save the dataframe to csv file
df_mobility.to_csv('../data/united_states_mobility2.csv', index= False)