In [92]:
import pandas as pd
import numpy as np

# read in csv file for all states

In [2]:
covid19_all_states = pd.read_csv('../data/covid_19_daily_update_allStates_2.csv')

In [3]:
covid19_all_states.head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,Alaska,2020-06-09,2,573,10,66317,968,66890,978,12,0,11,1,389,66890
1,Alabama,2020-06-09,1,21422,497,246317,7251,267739,7748,600,33,729,11,11395,267739
2,Arkansas,2020-06-09,5,10080,340,155701,4854,165781,5194,173,21,161,6,6875,165781
3,American Samoa,2020-06-09,60,0,0,174,0,174,0,0,0,0,0,0,174
4,Arizona,2020-06-09,4,28296,618,264917,4514,293213,5132,1243,29,1070,23,5764,293213

In [4]:
covid19_all_states.sort_values(by=['state', 'date']).head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
5221,Alabama,2020-03-07,1,0,0,0,0,0,0,0,0,0,0,0,0
5171,Alabama,2020-03-08,1,0,0,0,0,0,0,0,0,0,0,0,0
5121,Alabama,2020-03-09,1,0,0,0,0,0,0,0,0,0,0,0,0
5071,Alabama,2020-03-10,1,0,0,0,0,0,0,0,0,0,0,0,0
5021,Alabama,2020-03-11,1,0,0,10,10,10,10,0,0,0,0,0,10

In [5]:
covid19_all_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5393 entries, 0 to 5392
Data columns (total 15 columns):
state                       5393 non-null object
date                        5393 non-null object
fips                        5393 non-null int64
positive                    5393 non-null int64
positiveIncrease            5393 non-null int64
negative                    5393 non-null int64
negativeIncrease            5393 non-null int64
totalTestResults            5393 non-null int64
totalTestResultsIncrease    5393 non-null int64
hospitalizedCurrently       5393 non-null int64
hospitalizedIncrease        5393 non-null int64
death                       5393 non-null int64
deathIncrease               5393 non-null int64
recovered                   5393 non-null int64
total                       5393 non-null int64
dtypes: int64(13), object(2)
memory usage: 632.1+ KB

# read in csv file for Mobility

In [16]:
mobility_all_states = pd.read_csv('../data/united_states_mobility2.csv')

In [17]:
mobility_all_states.head()

,country_code,state,county,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,NaN,2020-02-15,5.0,2.0,39.0,7.0,2.0,-1.0
1,US,Alabama,NaN,2020-02-16,0.0,-2.0,-7.0,3.0,-1.0,1.0
2,US,Alabama,NaN,2020-02-17,3.0,0.0,17.0,7.0,-17.0,4.0
3,US,Alabama,NaN,2020-02-18,-4.0,-3.0,-11.0,-1.0,1.0,2.0
4,US,Alabama,NaN,2020-02-19,4.0,1.0,6.0,4.0,1.0,0.0

In [18]:
mobility_all_states.shape

(300211, 10)

Melt the dataframe to create mobility column so it will be useful as a slicer in any dashboard

In [19]:
mobility_all_states_melt = pd.melt( mobility_all_states,
                         id_vars= ['country_code','state','date', 'county'],
                         value_vars= ['retail_and_recreation',
                                      'grocery_and_pharmacy',
                                                    'parks',
                                       'transit_stations',
                                           'workplaces',
                                      'residential' ],
                         var_name= 'mobility',
                         value_name= 'percent_change'
                                         )

In [20]:
mobility_all_states_melt.head()

,country_code,state,date,county,mobility,percent_change
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0
1,US,Alabama,2020-02-16,NaN,retail_and_recreation,0.0
2,US,Alabama,2020-02-17,NaN,retail_and_recreation,3.0
3,US,Alabama,2020-02-18,NaN,retail_and_recreation,-4.0
4,US,Alabama,2020-02-19,NaN,retail_and_recreation,4.0

In [21]:
mobility_all_states_melt.shape

(1801266, 6)

In [22]:
mobility_all_states_melt.sort_values(by=['state', 'date'])

,country_code,state,date,county,mobility,percent_change
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0
112,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0
224,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0
336,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0
448,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0
...,...,...,...,...,...,...
1800871,US,Wyoming,2020-06-05,Sweetwater,residential,5.0
1800983,US,Wyoming,2020-06-05,Teton,residential,NaN
1801095,US,Wyoming,2020-06-05,Uinta,residential,NaN
1801183,US,Wyoming,2020-06-05,Washakie,residential,NaN
1801265,US,Wyoming,2020-06-05,Weston,residential,NaN

In [23]:
mobility_all_states_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1801266 entries, 0 to 1801265
Data columns (total 6 columns):
country_code      object
state             object
date              object
county            object
mobility          object
percent_change    float64
dtypes: float64(1), object(5)
memory usage: 82.5+ MB

# Merge both dataframes the melt and original mobility

In [24]:
join_dfs = pd.merge(
                   mobility_all_states_melt,
                     mobility_all_states,
                                on = ['country_code', 'state','date', 'county'],
                                how = 'left')

In [25]:
join_dfs.head()

,country_code,state,date,county,mobility,percent_change,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,5.0,2.0,39.0,7.0,2.0,-1.0
1,US,Alabama,2020-02-16,NaN,retail_and_recreation,0.0,0.0,-2.0,-7.0,3.0,-1.0,1.0
2,US,Alabama,2020-02-17,NaN,retail_and_recreation,3.0,3.0,0.0,17.0,7.0,-17.0,4.0
3,US,Alabama,2020-02-18,NaN,retail_and_recreation,-4.0,-4.0,-3.0,-11.0,-1.0,1.0,2.0
4,US,Alabama,2020-02-19,NaN,retail_and_recreation,4.0,4.0,1.0,6.0,4.0,1.0,0.0

In [26]:
join_dfs.shape

(1801266, 12)

In [27]:
join_dfs.sort_values(by=['state', 'date']).head()

,country_code,state,date,county,mobility,percent_change,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,5.0,2.0,39.0,7.0,2.0,-1.0
112,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,5.0,7.0,NaN,NaN,-4.0,NaN
224,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,17.0,12.0,55.0,8.0,6.0,-2.0
336,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,5.0,-2.0,NaN,NaN,-5.0,NaN
448,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,14.0,10.0,NaN,NaN,3.0,NaN

merge both covid-19 and the new mobility dataframe

In [28]:
join_dfs_mobility_covid = pd.merge(
                                     join_dfs,
                         covid19_all_states,
                                on = ['state','date'],
                                how = 'left', sort = True)

In [29]:
join_dfs_mobility_covid.head()

,country_code,state,date,county,mobility,percent_change,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,...,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,5.0,2.0,39.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,5.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,17.0,12.0,55.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,5.0,-2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,14.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
join_dfs_mobility_covid.shape

(1801266, 25)

In [31]:
join_dfs['state'].nunique()

51

In [22]:
#join_dfs['county'].nunique()

In [23]:
join_dfs.to_csv('../data/join_covidAndMobility.csv') # export to csv file for powerbi

# read in lockdown csv file
join it on state column

In [118]:
lockdown_dates= pd.read_csv('../data/states_lockdown_dates.csv')
lockdown_dates.head()

         state date_start  date_end
0      Alabama    April 4  April 30
1       Alaska  March 28   April 21
2      Arizona  March 31     May 15
3     Colorado  March 26   April 26
4  Connecticut  March 23     May 20

# Join  tow dataframes , mobility_covid and lockdown_dates
join three datafranes mobility and covid with lockdown on state column

In [119]:
join_dfs_mobility_covid_lockdown = pd.merge(
                                     join_dfs_mobility_covid,
                                             lockdown_dates,
                                on = ['state'],
                                how = 'left')

In [120]:
join_dfs_mobility_covid_lockdown.head()

,country_code,state,date,county,mobility,percent_change,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,...,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total,date_start,date_end
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,5.0,2.0,39.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,April 4,April 30
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,5.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,April 4,April 30
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,17.0,12.0,55.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,April 4,April 30
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,5.0,-2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,April 4,April 30
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,14.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,April 4,April 30

In [121]:
join_dfs_mobility_covid_lockdown.shape

(1801266, 27)

In [122]:
join_dfs_mobility_covid_lockdown['county'].nunique()

1715

In [37]:
#list_countyies= list(join_dfs_mobility_covid_lockdown['county'].unique())
#list_countyies

Save to csv file for powerbi dashboard

In [30]:
#join_dfs_mobility_covid_lockdown.to_csv('../data/join_dfs_mobility_covid_lockdown.csv')

# load csv file for all counties

In [123]:
all_states_counties= pd.read_csv('../data/covid_19_update_allStatesAndCounties_3.csv')

In [124]:
all_states_counties.head()

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0

In [125]:
all_states_counties= all_states_counties.rename(columns={"cases" :"county_cases", "deaths" : "county_deaths"})

In [126]:
all_states_counties['county'].nunique()

1779

In [127]:
all_states_counties['county'].unique()

array(['Snohomish', 'Cook', 'Orange', ..., 'Banner', 'Kidder',
       'Somervell'], dtype=object)

In [128]:
list_counties= list(all_states_counties['county'].unique())
#list_counties

In [129]:
all_states_counties.shape

(221644, 6)

# Join all dataframes

In [130]:
join_dfs_counties_states_mobility = pd.merge(
                                             join_dfs_mobility_covid_lockdown,
                                                         all_states_counties,
                                                on = ['state','county','date'],
                                                how = 'left')

In [131]:
join_dfs_counties_states_mobility.head()

,country_code,state,date,county,mobility,percent_change,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,...,hospitalizedIncrease,death,deathIncrease,recovered,total,date_start,date_end,fips_y,county_cases,county_deaths
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,5.0,2.0,39.0,7.0,...,NaN,NaN,NaN,NaN,NaN,April 4,April 30,NaN,NaN,NaN
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,5.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,April 4,April 30,NaN,NaN,NaN
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,17.0,12.0,55.0,8.0,...,NaN,NaN,NaN,NaN,NaN,April 4,April 30,NaN,NaN,NaN
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,5.0,-2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,April 4,April 30,NaN,NaN,NaN
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,14.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,April 4,April 30,NaN,NaN,NaN

In [132]:
join_dfs_counties_states_mobility.shape

(1801266, 30)

In [133]:
join_dfs_counties_states_mobility.columns

Index(['country_code', 'state', 'date', 'county', 'mobility', 'percent_change',
       'retail_and_recreation', 'grocery_and_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential', 'fips_x', 'positive',
       'positiveIncrease', 'negative', 'negativeIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'hospitalizedCurrently',
       'hospitalizedIncrease', 'death', 'deathIncrease', 'recovered', 'total',
       'date_start', 'date_end', 'fips_y', 'county_cases', 'county_deaths'],
      dtype='object')

In [134]:
#change the name of the dataframe
df = join_dfs_counties_states_mobility

In [135]:
#fill nan with zero inorder to convert the column data type to integer
df['percent_change']=                     df['percent_change'].fillna(0)
df['retail_and_recreation']=       df['retail_and_recreation'].fillna(0)
df['grocery_and_pharmacy']=         df['grocery_and_pharmacy'].fillna(0)
df['parks']=                                       df['parks'].fillna(0)
df['transit_stations']=                 df['transit_stations'].fillna(0)
df['workplaces']=                             df['workplaces'].fillna(0)
df['residential']=                           df['residential'].fillna(0)
df['fips_x']=                                     df['fips_x'].fillna(0)
df['positive']=                                 df['positive'].fillna(0)
df['positiveIncrease']=                 df['positiveIncrease'].fillna(0)
df['negative']=                                 df['negative'].fillna(0)
df['negativeIncrease']=                 df['negativeIncrease'].fillna(0)
df['totalTestResults'] =                df['totalTestResults'].fillna(0)
df['totalTestResultsIncrease']= df['totalTestResultsIncrease'].fillna(0)
df['hospitalizedCurrently']=       df['hospitalizedCurrently'].fillna(0)
df['hospitalizedIncrease']=         df['hospitalizedIncrease'].fillna(0)
df['death']=                                       df['death'].fillna(0)
df['deathIncrease']=                       df['deathIncrease'].fillna(0)
df['total']=                                       df['total'].fillna(0)
df['recovered']=                               df['recovered'].fillna(0)
df['fips_y']=                                     df['fips_y'].fillna(0)
df['county_cases']=                         df['county_cases'].fillna(0)
df['county_deaths']=                       df['county_deaths'].fillna(0)

convert the data type of theses columns to integer

In [136]:
df['percent_change'] =                     df['percent_change'].astype(int)
df['retail_and_recreation'] =       df['retail_and_recreation'].astype(int)
df['grocery_and_pharmacy'] =         df['grocery_and_pharmacy'].astype(int)
df['parks'] =                                       df['parks'].astype(int)
df['transit_stations'] =                 df['transit_stations'].astype(int)
df['workplaces'] =                             df['workplaces'].astype(int)
df['residential'] =                           df['residential'].astype(int)
df['fips_x'] =                                     df['fips_x'].astype(int)
df['positive'] =                                 df['positive'].astype(int)
df['positiveIncrease'] =                 df['positiveIncrease'].astype(int)
df['negative'] =                                 df['negative'].astype(int)
df['negativeIncrease'] =                 df['negativeIncrease'].astype(int)
df['totalTestResults'] =                 df['totalTestResults'].astype(int)
df['totalTestResultsIncrease'] = df['totalTestResultsIncrease'].astype(int)
df['hospitalizedCurrently'] =       df['hospitalizedCurrently'].astype(int)
df['hospitalizedIncrease'] =         df['hospitalizedIncrease'].astype(int)
df['death'] =                                       df['death'].astype(int)
df['deathIncrease'] =                       df['deathIncrease'].astype(int)
df['recovered'] =                               df['recovered'].astype(int)
df['total'] =                                       df['total'].astype(int)
df['fips_y'] =                                     df['fips_y'].astype(int)
df['county_cases'] =                         df['county_cases'].astype(int)
df['county_deaths'] =                       df['county_deaths'].astype(int)
df['percent_change'] =                     df['percent_change'].astype(int)
df['percent_change'] =                     df['percent_change'].astype(int)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1801266 entries, 0 to 1801265
Data columns (total 30 columns):
country_code                object
state                       object
date                        object
county                      object
mobility                    object
percent_change              int32
retail_and_recreation       int32
grocery_and_pharmacy        int32
parks                       int32
transit_stations            int32
workplaces                  int32
residential                 int32
fips_x                      int32
positive                    int32
positiveIncrease            int32
negative                    int32
negativeIncrease            int32
totalTestResults            int32
totalTestResultsIncrease    int32
hospitalizedCurrently       int32
hospitalizedIncrease        int32
death                       int32
deathIncrease               int32
recovered                   int32
total                       int32
date_start                  object
date_end                    object
fips_y                      int32
county_cases                int32
county_deaths               int32
dtypes: int32(23), object(7)
memory usage: 268.0+ MB

In [138]:
join_dfs_counties_states_mobility['county'].nunique()

1715

In [139]:
join_dfs_counties_states_mobility.shape

(1801266, 30)

# final csv file combined all 4 dataframes

In [140]:
join_dfs_counties_states_mobility.to_csv('../data/all_counties_states_mobility.csv')