In [1]:
import pandas as pd
import numpy as np

# read in csv file for all states

In [2]:
covid19_all_states = pd.read_csv('../data/covid_19_daily_update_allStates_2.csv')

In [3]:
covid19_all_states.head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,Alaska,2020-06-12,2,625,14,70255,1855,70880,1869,15,0,12,1,403,70880
1,Alabama,2020-06-12,1,23710,865,262675,6694,286385,7559,622,37,769,14,13508,286385
2,Arkansas,2020-06-12,5,11547,731,169575,3726,181122,4457,203,36,176,5,7607,181122
3,American Samoa,2020-06-12,60,0,0,174,0,174,0,0,0,0,0,0,174
4,Arizona,2020-06-12,4,32918,1654,278318,0,311236,1654,1336,91,1144,17,5980,311236

In [4]:
covid19_all_states.sort_values(by=['state', 'date']).head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
5389,Alabama,2020-03-07,1,0,0,0,0,0,0,0,0,0,0,0,0
5339,Alabama,2020-03-08,1,0,0,0,0,0,0,0,0,0,0,0,0
5289,Alabama,2020-03-09,1,0,0,0,0,0,0,0,0,0,0,0,0
5239,Alabama,2020-03-10,1,0,0,0,0,0,0,0,0,0,0,0,0
5189,Alabama,2020-03-11,1,0,0,10,10,10,10,0,0,0,0,0,10

In [5]:
covid19_all_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5561 entries, 0 to 5560
Data columns (total 15 columns):
state                       5561 non-null object
date                        5561 non-null object
fips                        5561 non-null int64
positive                    5561 non-null int64
positiveIncrease            5561 non-null int64
negative                    5561 non-null int64
negativeIncrease            5561 non-null int64
totalTestResults            5561 non-null int64
totalTestResultsIncrease    5561 non-null int64
hospitalizedCurrently       5561 non-null int64
hospitalizedIncrease        5561 non-null int64
death                       5561 non-null int64
deathIncrease               5561 non-null int64
recovered                   5561 non-null int64
total                       5561 non-null int64
dtypes: int64(13), object(2)
memory usage: 651.8+ KB

# read in csv file for Mobility

In [6]:
mobility_all_states = pd.read_csv('../data/united_states_mobility2.csv')

In [7]:
mobility_all_states.head()

,country_code,state,county,iso_3166_2_code,census_fips_code,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,NaN,US-AL,NaN,2020-02-15,5.0,2.0,39.0,7.0,2.0,-1.0
1,US,Alabama,NaN,US-AL,NaN,2020-02-16,0.0,-2.0,-7.0,3.0,-1.0,1.0
2,US,Alabama,NaN,US-AL,NaN,2020-02-17,3.0,0.0,17.0,7.0,-17.0,4.0
3,US,Alabama,NaN,US-AL,NaN,2020-02-18,-4.0,-3.0,-11.0,-1.0,1.0,2.0
4,US,Alabama,NaN,US-AL,NaN,2020-02-19,4.0,1.0,6.0,4.0,1.0,0.0

In [8]:
mobility_all_states.shape

(304534, 12)

Melt the dataframe to create mobility column so it will be useful as a slicer in any dashboard

In [9]:
mobility_all_states_melt = pd.melt( mobility_all_states,
                         id_vars= ['country_code','state','date', 'county'],
                         value_vars= ['retail_and_recreation',
                                      'grocery_and_pharmacy',
                                                    'parks',
                                       'transit_stations',
                                           'workplaces',
                                      'residential' ],
                         var_name= 'mobility',
                         value_name= 'percent_change'
                                         )

In [10]:
mobility_all_states_melt.head()

,country_code,state,date,county,mobility,percent_change
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0
1,US,Alabama,2020-02-16,NaN,retail_and_recreation,0.0
2,US,Alabama,2020-02-17,NaN,retail_and_recreation,3.0
3,US,Alabama,2020-02-18,NaN,retail_and_recreation,-4.0
4,US,Alabama,2020-02-19,NaN,retail_and_recreation,4.0

In [11]:
mobility_all_states_melt.shape

(1827204, 6)

In [12]:
mobility_all_states_melt.sort_values(by=['state', 'date'])

,country_code,state,date,county,mobility,percent_change
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0
114,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0
228,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0
342,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0
456,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0
...,...,...,...,...,...,...
1826392,US,Wyoming,2020-06-07,Park,residential,NaN
1826602,US,Wyoming,2020-06-07,Sheridan,residential,NaN
1826805,US,Wyoming,2020-06-07,Sweetwater,residential,NaN
1826919,US,Wyoming,2020-06-07,Teton,residential,NaN
1827033,US,Wyoming,2020-06-07,Uinta,residential,NaN

In [13]:
mobility_all_states_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827204 entries, 0 to 1827203
Data columns (total 6 columns):
country_code      object
state             object
date              object
county            object
mobility          object
percent_change    float64
dtypes: float64(1), object(5)
memory usage: 83.6+ MB

# Merge both dataframes the melt and original mobility

In [14]:
join_dfs = pd.merge(
                   mobility_all_states_melt,
                     mobility_all_states,
                                on = ['country_code', 'state','date', 'county'],
                                how = 'left')

In [15]:
join_dfs.head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,US-AL,NaN,5.0,2.0,39.0,7.0,2.0,-1.0
1,US,Alabama,2020-02-16,NaN,retail_and_recreation,0.0,US-AL,NaN,0.0,-2.0,-7.0,3.0,-1.0,1.0
2,US,Alabama,2020-02-17,NaN,retail_and_recreation,3.0,US-AL,NaN,3.0,0.0,17.0,7.0,-17.0,4.0
3,US,Alabama,2020-02-18,NaN,retail_and_recreation,-4.0,US-AL,NaN,-4.0,-3.0,-11.0,-1.0,1.0,2.0
4,US,Alabama,2020-02-19,NaN,retail_and_recreation,4.0,US-AL,NaN,4.0,1.0,6.0,4.0,1.0,0.0

In [16]:
join_dfs.shape

(1827204, 14)

In [17]:
join_dfs.sort_values(by=['state', 'date']).head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,US-AL,NaN,5.0,2.0,39.0,7.0,2.0,-1.0
114,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,NaN,1001.0,5.0,7.0,NaN,NaN,-4.0,NaN
228,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,NaN,1003.0,17.0,12.0,55.0,8.0,6.0,-2.0
342,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,NaN,1005.0,5.0,-2.0,NaN,NaN,-5.0,NaN
456,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,NaN,1007.0,14.0,10.0,NaN,NaN,3.0,NaN

merge both covid-19 and the new mobility dataframe

In [18]:
join_dfs_mobility_covid = pd.merge(
                                     join_dfs,
                         covid19_all_states,
                                on = ['state','date'],
                                how = 'left', sort = True)

In [19]:
join_dfs_mobility_covid.head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,...,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,US-AL,NaN,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,NaN,1001.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,NaN,1003.0,17.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,NaN,1005.0,5.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,NaN,1007.0,14.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
join_dfs_mobility_covid.shape

(1827204, 27)

In [21]:
join_dfs['state'].nunique()

51

In [22]:
#join_dfs['county'].nunique()

In [23]:
join_dfs.to_csv('../data/join_covidAndMobility.csv') # export to csv file for powerbi

# read in lockdown csv file
join it on state column

In [113]:
lockdown_dates= pd.read_csv('../data/states_lockdown_dates.csv')
lockdown_dates

                   State date_start   date_end
0                Alabama   4/4/2020  4/30/2020
1                 Alaska  3/28/2020  5/22/2020
2                Arizona  3/31/2020  5/15/2020
3               Arkansas       None       None
4             California  3/19/2020   5/8/2020
5               Colorado  3/26/2020    4/26/20
6            Connecticut  3/23/2020  5/20/2020
7               Delaware  3/24/2020  5/31/2020
8   District of Columbia  3/30/2020  5/29/2020
9                Florida   4/2/2020   5/4/2020
10               Georgia   4/3/2020  4/30/2020
11                Hawaii  3/25/2020  5/31/2020
12                 Idaho  3/25/2020  4/30/2020
13              Illinois  3/21/2020  5/29/2020
14               Indiana  3/24/2020   5/1/2020
15                  Iowa       None       None
16                Kansas  3/30/2020   5/3/2020
17              Kentucky  3/26/2020  6/15/2020
18             Louisiana  3/23/2020  5/15/2020
19                 Maine   4/2/2020  5/31/2020
20              Maryland  3/30/2020  5/15/2020
21         Massachusetts  3/24/2020  5/18/2020
22              Michigan  3/24/2020   6/1/2020
23             Minnesota  3/27/2020  5/17/2020
24           Mississippi   4/3/2020  4/27/2020
25              Missouri   4/6/2020   5/3/2020
26               Montana  3/28/2020  4/26/2020
27              Nebraska       None       None
28                Nevada   4/1/2020  5/15/2020
29         New Hampshire  3/27/2020  6/15/2020
30            New Jersey  3/21/2020   6/9/2020
31            New Mexico  3/24/2020  6/30/2020
32              New York  3/20/2020  6/27/2020
33        North Carolina  3/30/2020  5/22/2020
34          North Dakota       None       None
35                  Ohio  3/23/2020  5/19/2020
36              Oklahoma   4/1/2020   5/6/2020
37                Oregon  3/23/2020  5/15/2020
38          Pennsylvania   4/1/2020   6/4/2020
39          Rhode Island  3/28/2020   5/8/2020
40        South Carolina   4/7/2020   5/4/2020
41          South Dakota       None       None
42             Tennessee  3/31/2020  4/30/2020
43                 Texas   4/2/2020  4/30/2020
44                  Utah  4/13/2020   5/1/2020
45               Vermont  3/24/2020  5/15/2020
46              Virginia  3/30/2020  5/29/2020
47            Washington  3/24/2020  5/31/2020
48         West Virginia  3/24/2020   5/4/2020
49             Wisconsin  3/25/2020  5/13/2020
50               Wyoming       None       None

In [114]:
lockdown_dates = lockdown_dates.rename(columns={'State' : 'state'})

# Join  tow dataframes , mobility_covid and lockdown_dates
join three datafranes mobility and covid with lockdown on state column

In [115]:
join_dfs_mobility_covid_lockdown = pd.merge(
                                     join_dfs_mobility_covid,
                                             lockdown_dates,
                                on = ['state'],
                                how = 'left')

In [116]:
join_dfs_mobility_covid_lockdown.head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,...,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total,date_start,date_end
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,US-AL,NaN,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,NaN,1001.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,NaN,1003.0,17.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,NaN,1005.0,5.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,NaN,1007.0,14.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020

In [117]:
join_dfs_mobility_covid_lockdown.shape

(1827204, 29)

In [118]:
join_dfs_mobility_covid_lockdown['county'].nunique()

1715

In [119]:
#list_countyies= list(join_dfs_mobility_covid_lockdown['county'].unique())
#list_countyies

Save to csv file for powerbi dashboard

In [120]:
#join_dfs_mobility_covid_lockdown.to_csv('../data/join_dfs_mobility_covid_lockdown.csv')

# load csv file for all counties

In [121]:
all_states_counties= pd.read_csv('../data/covid_19_update_allStatesAndCounties_3.csv')

In [122]:
all_states_counties.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [123]:
all_states_counties= all_states_counties.rename(columns={"cases" :"county_cases", "deaths" : "county_deaths"})

In [124]:
all_states_counties['county'].nunique()

1781

In [125]:
all_states_counties['county'].unique()

array(['Snohomish', 'Cook', 'Orange', ..., 'Somervell', 'Alger',
       'Keweenaw'], dtype=object)

In [126]:
list_counties= list(all_states_counties['county'].unique())
#list_counties

In [127]:
all_states_counties.shape

(227689, 6)

# Join all dataframes

In [128]:
join_dfs_counties_states_mobility = pd.merge(
                                             join_dfs_mobility_covid_lockdown,
                                                         all_states_counties,
                                                on = ['state','county','date'],
                                                how = 'left')

In [129]:
join_dfs_counties_states_mobility.head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,...,hospitalizedIncrease,death,deathIncrease,recovered,total,date_start,date_end,fips_y,county_cases,county_deaths
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5.0,US-AL,NaN,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020,NaN,NaN,NaN
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5.0,NaN,1001.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020,NaN,NaN,NaN
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17.0,NaN,1003.0,17.0,12.0,...,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020,NaN,NaN,NaN
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5.0,NaN,1005.0,5.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020,NaN,NaN,NaN
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14.0,NaN,1007.0,14.0,10.0,...,NaN,NaN,NaN,NaN,NaN,4/4/2020,4/30/2020,NaN,NaN,NaN

In [130]:
join_dfs_counties_states_mobility.shape

(1827204, 32)

In [131]:
join_dfs_counties_states_mobility.columns

Index(['country_code', 'state', 'date', 'county', 'mobility', 'percent_change',
       'iso_3166_2_code', 'census_fips_code', 'retail_and_recreation',
       'grocery_and_pharmacy', 'parks', 'transit_stations', 'workplaces',
       'residential', 'fips_x', 'positive', 'positiveIncrease', 'negative',
       'negativeIncrease', 'totalTestResults', 'totalTestResultsIncrease',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'death',
       'deathIncrease', 'recovered', 'total', 'date_start', 'date_end',
       'fips_y', 'county_cases', 'county_deaths'],
      dtype='object')

In [132]:
#change the name of the dataframe
df = join_dfs_counties_states_mobility

In [133]:
#fill nan with zero inorder to convert the column data type to integer
df['percent_change']=                     df['percent_change'].fillna(0)
df['retail_and_recreation']=       df['retail_and_recreation'].fillna(0)
df['grocery_and_pharmacy']=         df['grocery_and_pharmacy'].fillna(0)
df['parks']=                                       df['parks'].fillna(0)
df['transit_stations']=                 df['transit_stations'].fillna(0)
df['workplaces']=                             df['workplaces'].fillna(0)
df['residential']=                           df['residential'].fillna(0)
df['fips_x']=                                     df['fips_x'].fillna(0)
df['positive']=                                 df['positive'].fillna(0)
df['positiveIncrease']=                 df['positiveIncrease'].fillna(0)
df['negative']=                                 df['negative'].fillna(0)
df['negativeIncrease']=                 df['negativeIncrease'].fillna(0)
df['totalTestResults'] =                df['totalTestResults'].fillna(0)
df['totalTestResultsIncrease']= df['totalTestResultsIncrease'].fillna(0)
df['hospitalizedCurrently']=       df['hospitalizedCurrently'].fillna(0)
df['hospitalizedIncrease']=         df['hospitalizedIncrease'].fillna(0)
df['death']=                                       df['death'].fillna(0)
df['deathIncrease']=                       df['deathIncrease'].fillna(0)
df['total']=                                       df['total'].fillna(0)
df['recovered']=                               df['recovered'].fillna(0)
df['fips_y']=                                     df['fips_y'].fillna(0)
df['county_cases']=                         df['county_cases'].fillna(0)
df['county_deaths']=                       df['county_deaths'].fillna(0)

convert the data type of theses columns to integer

In [134]:
df['percent_change'] =                     df['percent_change'].astype(int)
df['retail_and_recreation'] =       df['retail_and_recreation'].astype(int)
df['grocery_and_pharmacy'] =         df['grocery_and_pharmacy'].astype(int)
df['parks'] =                                       df['parks'].astype(int)
df['transit_stations'] =                 df['transit_stations'].astype(int)
df['workplaces'] =                             df['workplaces'].astype(int)
df['residential'] =                           df['residential'].astype(int)
df['fips_x'] =                                     df['fips_x'].astype(int)
df['positive'] =                                 df['positive'].astype(int)
df['positiveIncrease'] =                 df['positiveIncrease'].astype(int)
df['negative'] =                                 df['negative'].astype(int)
df['negativeIncrease'] =                 df['negativeIncrease'].astype(int)
df['totalTestResults'] =                 df['totalTestResults'].astype(int)
df['totalTestResultsIncrease'] = df['totalTestResultsIncrease'].astype(int)
df['hospitalizedCurrently'] =       df['hospitalizedCurrently'].astype(int)
df['hospitalizedIncrease'] =         df['hospitalizedIncrease'].astype(int)
df['death'] =                                       df['death'].astype(int)
df['deathIncrease'] =                       df['deathIncrease'].astype(int)
df['recovered'] =                               df['recovered'].astype(int)
df['total'] =                                       df['total'].astype(int)
df['fips_y'] =                                     df['fips_y'].astype(int)
df['county_cases'] =                         df['county_cases'].astype(int)
df['county_deaths'] =                       df['county_deaths'].astype(int)
df['percent_change'] =                     df['percent_change'].astype(int)
df['percent_change'] =                     df['percent_change'].astype(int)

In [135]:
#change the data type of date to datetype
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date_start'] = pd.to_datetime(df['date_start'], errors= 'coerce')
df['date_end'] = pd.to_datetime(df['date_end'], errors= 'coerce')

create a new column for number of days states had lockdown

In [136]:
#find number of days during lockdown
df['diff_days'] = df['date_end'] - df['date_start']
df['diff_days']=df['diff_days']/np.timedelta64(1,'D')

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827204 entries, 0 to 1827203
Data columns (total 33 columns):
country_code                object
state                       object
date                        datetime64[ns]
county                      object
mobility                    object
percent_change              int32
iso_3166_2_code             object
census_fips_code            float64
retail_and_recreation       int32
grocery_and_pharmacy        int32
parks                       int32
transit_stations            int32
workplaces                  int32
residential                 int32
fips_x                      int32
positive                    int32
positiveIncrease            int32
negative                    int32
negativeIncrease            int32
totalTestResults            int32
totalTestResultsIncrease    int32
hospitalizedCurrently       int32
hospitalizedIncrease        int32
death                       int32
deathIncrease               int32
recovered                   int32
total                       int32
date_start                  datetime64[ns]
date_end                    datetime64[ns]
fips_y                      int32
county_cases                int32
county_deaths               int32
diff_days                   float64
dtypes: datetime64[ns](3), float64(2), int32(23), object(5)
memory usage: 313.7+ MB

In [138]:
df.head()

,country_code,state,date,county,mobility,percent_change,iso_3166_2_code,census_fips_code,retail_and_recreation,grocery_and_pharmacy,...,death,deathIncrease,recovered,total,date_start,date_end,fips_y,county_cases,county_deaths,diff_days
0,US,Alabama,2020-02-15,NaN,retail_and_recreation,5,US-AL,NaN,5,2,...,0,0,0,0,2020-04-04,2020-04-30,0,0,0,26.0
1,US,Alabama,2020-02-15,Autauga,retail_and_recreation,5,NaN,1001.0,5,7,...,0,0,0,0,2020-04-04,2020-04-30,0,0,0,26.0
2,US,Alabama,2020-02-15,Baldwin,retail_and_recreation,17,NaN,1003.0,17,12,...,0,0,0,0,2020-04-04,2020-04-30,0,0,0,26.0
3,US,Alabama,2020-02-15,Barbour,retail_and_recreation,5,NaN,1005.0,5,-2,...,0,0,0,0,2020-04-04,2020-04-30,0,0,0,26.0
4,US,Alabama,2020-02-15,Bibb,retail_and_recreation,14,NaN,1007.0,14,10,...,0,0,0,0,2020-04-04,2020-04-30,0,0,0,26.0

In [139]:
df['county'].nunique()

1715

In [140]:
df.shape

(1827204, 33)

In [141]:
df.columns

Index(['country_code', 'state', 'date', 'county', 'mobility', 'percent_change',
       'iso_3166_2_code', 'census_fips_code', 'retail_and_recreation',
       'grocery_and_pharmacy', 'parks', 'transit_stations', 'workplaces',
       'residential', 'fips_x', 'positive', 'positiveIncrease', 'negative',
       'negativeIncrease', 'totalTestResults', 'totalTestResultsIncrease',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'death',
       'deathIncrease', 'recovered', 'total', 'date_start', 'date_end',
       'fips_y', 'county_cases', 'county_deaths', 'diff_days'],
      dtype='object')

In [142]:
#drop some columns
cols = ['fips_y','iso_3166_2_code', 'census_fips_code']
df2 = df.drop(cols, axis=1)

# final csv file combined all 4 dataframes

In [143]:
df2.to_csv('../data/all_counties_states_mobility.csv', index=False)