In [23]:
import pandas as pd
import numpy as np

# Read in csv file for united states COVID-19

In [2]:
#no need to read this csv file if we are going to use the next read csv 
#all_states=pd.read_csv('../data/covid_19_daily_update_allStates.csv')

In [3]:
#all_states.head()

Clean the data

In [4]:
#drop the fisrt and second rows
#all_states= all_states.drop([0,1])

In [5]:
#turn columns names to lower case and replace spaces and '/' with '_'
#all_states.columns = map(str.lower, all_states.columns)
#all_states.columns = all_states.columns.str.replace('  ', '_')
#all_states.columns = all_states.columns.str.replace('/', '_')
#all_states.head()

In [6]:
#all_states.info()

In [7]:
#convert columnc type to integer
#all_states = all_states.astype({"positive": float, "negative": float})

change the format of date column

In [8]:
#all_states['date'] = pd.to_datetime(all_states['date'], format='%Y%m%d', errors='ignore')

Add calculated column to the data frame

In [9]:
#all_states['total_testing']= all_states['positive']+all_states['negative']

In [10]:
#all_states.head()

Replace abbreviation in state column with full state name

In [11]:
#create dictionay contains each state's name as the value and the obbreviation as the key
us_state_full_name = {
                    'AL': 'Alabama',
                    'AK': 'Alaska',
                    'AS': 'American Samoa',
                    'AZ': 'Arizona',
                    'AR': 'Arkansas',
                    'CA': 'California',
                    'CO': 'Colorado',
                    'CT': 'Connecticut',
                    'DE': 'Delaware',
                    'DC': 'District of Columbia',
                    'FL': 'Florida',
                    'GA': 'Georgia',
                    'GU': 'Guam',
                    'HI': 'Hawaii',
                    'ID': 'Idaho',
                    'IL': 'Illinois',
                    'IN': 'Indiana',
                    'IA': 'Iowa',
                    'KS': 'Kansas',
                    'KY': 'Kentucky',
                    'LA': 'Louisiana',
                    'ME': 'Maine',
                    'MD': 'Maryland',
                    'MA': 'Massachusetts',
                    'MI': 'Michigan',
                    'MN': 'Minnesota',
                    'MP': 'Northern Mariana Islands',
                    'MS': 'Mississippi',
                    'MO': 'Missouri',
                    'MT': 'Montana',
                    'NE': 'Nebraska',
                    'NV': 'Nevada',
                    'NH': 'New Hampshire',
                    'NJ': 'New Jersey',
                    'NM': 'New Mexico',
                    'NY': 'New York',
                    'NC': 'North Carolina',
                    'ND': 'North Dakota',
                  # 'NM': 'Northern Marianas', #commented out because the key matches the one for new mexico
                    'OH': 'Ohio',
                    'OK': 'Oklahoma',
                    'OR': 'Oregon',
                    'PA': 'Pennsylvania',
                    'PR': 'Puerto Rico',
                    'RI': 'Rhode Island',
                    'SC': 'South Carolina',
                    'SD': 'South Dakota',
                    'TN': 'Tennessee',
                    'TX': 'Texas',
                    'UT': 'Utah',
                    'VT': 'Vermont',
                    'VA': 'Virginia',
                    'VI': 'Virgin Islands',
                    'WA': 'Washington',
                    'WV': 'West Virginia',
                    'WI': 'Wisconsin',
                    'WY': 'Wyoming',
                }

In [12]:
len(us_state_full_name)

56

In [13]:
#replace the obbreviation with full name
#states_names = all_states.replace({"state": us_state_full_name})

Select the intersting columns

In [14]:
'''all_states_clean = states_names[['date',
                              'state',
                              'positive',
                              'negative',
                              'total_testing',
                              'deaths',
                              'recovered', ]]'''

"all_states_clean = states_names[['date',\n                              'state',\n                              'positive',\n                              'negative',\n                              'total_testing',\n                              'deaths',\n                              'recovered', ]]"

In [15]:
#all_states_clean.head()

In [16]:
#print(all_states_clean.shape)

In [17]:
#all_states_clean['state'].value_counts()

# Read in another csv file for more COVID-19

In [18]:
df2_all_states=pd.read_csv('../data/covid_19_update_allStates_2.csv')

In [19]:
df2_all_states.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200609,AK,573.0,66317.0,NaN,12.0,NaN,NaN,NaN,1.0,...,66890,1,0,9eaf1802a047fc56612f95b6e8221d463088d951,0,0,0,0,0,NaN
1,20200609,AL,21422.0,246317.0,NaN,600.0,2087.0,NaN,631.0,NaN,...,267739,11,33,efc4ed6259393a9d1a456d534f048bed440a3188,0,0,0,0,0,NaN
2,20200609,AR,10080.0,155701.0,NaN,173.0,865.0,NaN,NaN,44.0,...,165781,6,21,851214658655b6d73de5bdcef6d60ff6f4cba91f,0,0,0,0,0,NaN
3,20200609,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,0df19625dbb3d07994abcf96f96cf424a01197f9,0,0,0,0,0,NaN
4,20200609,AZ,28296.0,264917.0,NaN,1243.0,3406.0,438.0,NaN,264.0,...,293213,23,29,13e930e15aa12c07ffcf3af528334c67a01893a1,0,0,0,0,0,NaN

look for mismatch in the states names

In [20]:
df2_all_states['state'].unique()

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

Replace abbreviation in state column with full state name use the dictionary created above

In [21]:
#replace the obbreviation with full name
df2_all_states = df2_all_states.replace({"state": us_state_full_name})

In [22]:
df2_all_states.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200609,Alaska,573.0,66317.0,NaN,12.0,NaN,NaN,NaN,1.0,...,66890,1,0,9eaf1802a047fc56612f95b6e8221d463088d951,0,0,0,0,0,NaN
1,20200609,Alabama,21422.0,246317.0,NaN,600.0,2087.0,NaN,631.0,NaN,...,267739,11,33,efc4ed6259393a9d1a456d534f048bed440a3188,0,0,0,0,0,NaN
2,20200609,Arkansas,10080.0,155701.0,NaN,173.0,865.0,NaN,NaN,44.0,...,165781,6,21,851214658655b6d73de5bdcef6d60ff6f4cba91f,0,0,0,0,0,NaN
3,20200609,American Samoa,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,0df19625dbb3d07994abcf96f96cf424a01197f9,0,0,0,0,0,NaN
4,20200609,Arizona,28296.0,264917.0,NaN,1243.0,3406.0,438.0,NaN,264.0,...,293213,23,29,13e930e15aa12c07ffcf3af528334c67a01893a1,0,0,0,0,0,NaN

check to see if names are updated

In [23]:
df2_all_states['state'].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'American Samoa', 'Arizona',
       'California', 'Colorado', 'Connecticut', 'District of Columbia',
       'Delaware', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Northern Mariana Islands', 'Mississippi', 'Montana',
       'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire',
       'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Virgin Islands', 'Vermont',
       'Washington', 'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype=object)

Fill Nan value in the dataframe with 0 so it will be accepted to convert data type to integer

In [55]:
df2_all_states = df2_all_states.fillna(0)

In [64]:
#change the format of columns to use the values in calculating if needed

df2_all_states= df2_all_states.astype({         "positive": int,
                                                "negative": int,
                                                   'fips' : int,
                                               'positive' : int,
                                       'positiveIncrease' : int,
                                               'negative' : int,
                                       'negativeIncrease' : int,
                                       'totalTestResults' : int,
                               'totalTestResultsIncrease' : int,
                                  'hospitalizedCurrently' : int,
                                   'hospitalizedIncrease' : int,
                                                  'death' : int,
                                          'deathIncrease' : int,
                                             'recovered' : int,
                                                'total' : int
                                           })        #convert columns data type to int

In [65]:
#change the format of date column
df2_all_states['date'] = pd.to_datetime(df2_all_states['date'], format='%Y%m%d', errors='ignore')

In [66]:
#df2_all_states['state'].value_counts()

In [67]:
df2_all_states.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'dataQualityGrade', 'lastUpdateEt', 'dateModified',
       'checkTimeEt', 'death', 'hospitalized', 'dateChecked', 'fips',
       'positiveIncrease', 'negativeIncrease', 'total', 'totalTestResults',
       'totalTestResultsIncrease', 'posNeg', 'deathIncrease',
       'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [68]:
#subset the datframe, Select only ithe intersting columns
df2_all_states_clean = df2_all_states[['state',
                                      'date',
                                       'fips',
                                   'positive',
                           'positiveIncrease',
                                   'negative',
                           'negativeIncrease',
                           'totalTestResults',
                   'totalTestResultsIncrease',
                      'hospitalizedCurrently',
                       'hospitalizedIncrease',
                                      'death',
                              'deathIncrease',
                                 'recovered',
                                    'total'
                                      ]]

In [69]:
df2_all_states_clean.head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,Alaska,2020-06-09,2,573,10,66317,968,66890,978,12,0,11,1,389,66890
1,Alabama,2020-06-09,1,21422,497,246317,7251,267739,7748,600,33,729,11,11395,267739
2,Arkansas,2020-06-09,5,10080,340,155701,4854,165781,5194,173,21,161,6,6875,165781
3,American Samoa,2020-06-09,60,0,0,174,0,174,0,0,0,0,0,0,174
4,Arizona,2020-06-09,4,28296,618,264917,4514,293213,5132,1243,29,1070,23,5764,293213

In [70]:
print(df2_all_states_clean.shape)

(5393, 15)

In [71]:
df2_all_states_clean['state'].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'American Samoa', 'Arizona',
       'California', 'Colorado', 'Connecticut', 'District of Columbia',
       'Delaware', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Northern Mariana Islands', 'Mississippi', 'Montana',
       'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire',
       'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Virgin Islands', 'Vermont',
       'Washington', 'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype=object)

Save it as csv file name using the same name

In [72]:
df2_all_states_clean.to_csv('../data/covid_19_daily_update_allStates_2.csv', index= False)

Select only Alaska to check numbers

In [33]:
#test= df2_all_states_clean.loc[(df2_all_states_clean.state == 'Alaska')]

In [34]:
#test.head()

# read in states lockdown dates csv file

In [8]:
df3 = pd.read_csv('../data/states_lockdown_dates.csv')

In [9]:
df3.head()

,State,date_end,Order dates,Link to order,Official name of order
0,Alabama,Apr 30,April 4- April 30,Link,Suspend certain public gatherings
1,Alaska,Apr 21,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place
2,Arizona,May 15,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected"
3,Colorado,Apr 26,March 26 - April 26[6],Link,Stay-at-home
4,Connecticut,May 20,March 23 - May 20[7],Link,"Stay Safe, Stay Home"

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
State                     38 non-null object
date_end                  38 non-null object
Order dates               37 non-null object
Link to order             36 non-null object
Official name of order    36 non-null object
dtypes: object(5)
memory usage: 1.6+ KB

In [11]:
df3.columns

Index(['State', 'date_end', 'Order dates', 'Link to order',
       'Official name of order'],
      dtype='object')

clean the data column

In [12]:
df3['date_start'], df3['date_end_2'] = df3['Order dates'].str.split('-', 1).str

In [13]:
df3

,State,date_end,Order dates,Link to order,Official name of order,date_start,date_end_2
0,Alabama,Apr 30,April 4- April 30,Link,Suspend certain public gatherings,April 4,April 30
1,Alaska,Apr 21,March 28 - April 27 (business can begin to reo...,Link,Shelter-in-place,March 28,April 27 (business can begin to reopen with r...
2,Arizona,May 15,March 31 - May 15[5],Link,"Stay home, stay healthy, stay connected",March 31,May 15[5]
3,Colorado,Apr 26,March 26 - April 26[6],Link,Stay-at-home,March 26,April 26[6]
4,Connecticut,May 20,March 23 - May 20[7],Link,"Stay Safe, Stay Home",March 23,May 20[7]
5,Delaware,May 31,March 24 - May 31,Link,Stay-at-Home,March 24,May 31
6,District of Columbia,May 29,NaN,NaN,NaN,NaN,NaN
7,Florida,May 3,April 2 - May 4,Link,Stay-at-home,April 2,May 4
8,Georgia,Apr 30,April 3 - April 30[8],Link,Shelter-in-place,April 3,April 30[8]
9,Hawaii,May 31,March 25 - May 31[9],Link,Stay-at-home,March 25,May 31[9]
10,Idaho,Apr 30,March 25 - April 30[10],Link,Stay home,March 25,April 30[10]
11,Illinois,May 30,March 21 - May 29[11],Link,Stay-at-Home,March 21,May 29[11]
12,Indiana,May 3,March 24 - May 1[12][13],Link,Stay-at-home,March 24,May 1[12][13]
13,Kansas,May 3,March 30 - May 3[14],Link,Stay home,March 30,May 3[14]
14,Louisiana,May 15,March 23 - May 15[15],Link,Stay-at-Home,March 23,May 15[15]
15,Massachusetts,May 18,March 24 - May 18[17][18][19],Link,Stay-at-home,March 24,May 18[17][18][19]
16,Michigan,Jun 1,March 24 - June 1[20][21][22][23],Link,"Stay Home, Stay Safe",March 24,June 1[20][21][22][23]
17,Minnesota,May 17,March 27 - May 17[24][25][26][27],Link,Stay-at-home,March 27,May 17[24][25][26][27]
18,Mississippi,May 25,April 3 - April 27[28],Link,Shelter-in-place,April 3,April 27[28]
19,Missouri,May 3,April 6 - May 3[29],Link,Stay Home Missouri,April 6,May 3[29]
20,Montana,Apr 24,March 28 - April 26[30][31],Link,Stay-at-home,March 28,April 26[30][31]
21,Nevada,May 15,April 1 - May 15,Link,Stay-at-home,April 1,May 15
22,New Hampshire,Jun 15,March 27 - June 15[32],Link,Stay-at-home 2.0,March 27,June 15[32]
23,New Mexico,Jun 30,March 24 - June 30[34][35][36][37],Link,Stay-at-home,March 24,June 30[34][35][36][37]
24,New York,Jun 13,March 20 - June 27[38],Link,New York State on PAUSE,March 20,June 27[38]
25,North Carolina,May 22,March 30 - May 22[39][40],Link,Stay-at-home,March 30,May 22[39][40]
26,Ohio,May 19,March 23 - May 19[41][42][43],Link,Stay-at-home,March 23,May 19[41][42][43]
27,Oklahoma,Apr 30,April 1 - May 6[44],Link,Safer at home,April 1,May 6[44]
28,Pennsylvania,Jun 4,April 1 - June 4[45][46],Link,Stay-at-home,April 1,June 4[45][46]
29,Rhode Island,May 8,March 28 - May 8[47],Link,Stay-at-home,March 28,May 8[47]
30,South Carolina,May 4,April 7 - May 4[48],Link,Home or work,April 7,May 4[48]
31,Tennessee,Apr 30,March 31 - April 30[49],Link,Safer at home,March 31,April 30[49]
32,Texas,Apr 30,April 2 - April 30,Link,Statewide essential services and activities pr...,April 2,April 30
33,Utah,May 1,None,NaN,NaN,None,NaN
34,Vermont,May 15,March 24 - May 15[50],Link,Stay-at-home,March 24,May 15[50]
35,Virginia,Jun 10,March 30 - May 29,Link,Stay-at-home,March 30,May 29
36,Washington,May 31,March 24 - May 31[51][52],Link,Stay-at-home,March 24,May 31[51][52]
37,Wisconsin,May 13,March 25 - May 13[53][54],Link,Safer at Home,March 25,May 13[53][54]

In [14]:
#replace the word Apr with April in the date_end column
df3['date_end'] = df3.date_end.str.replace('Apr', 'April')

In [15]:
#rename the state column
df3_rename = df3.rename(columns = {'State': 'state'})

In [16]:
df3_subset= df3_rename [['state', 'date_start', 'date_end']]
df3_subset.head()

         state date_start  date_end
0      Alabama    April 4  April 30
1       Alaska  March 28   April 21
2      Arizona  March 31     May 15
3     Colorado  March 26   April 26
4  Connecticut  March 23     May 20

In [19]:
df3_subset['date_start'] = pd.to_datetime(df3_subset['date_start'], format='%Y%m%d', errors='ignore')
df3_subset['date_end'] = pd.to_datetime(df3_subset['date_end'], format='%Y%m%d', errors='ignore')

C:\Users\arikh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\arikh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
df3_subset

                   state date_start  date_end
0                Alabama    April 4  April 30
1                 Alaska  March 28   April 21
2                Arizona  March 31     May 15
3               Colorado  March 26   April 26
4            Connecticut  March 23     May 20
5               Delaware  March 24     May 31
6   District of Columbia        NaN    May 29
7                Florida   April 2      May 3
8                Georgia   April 3   April 30
9                 Hawaii  March 25     May 31
10                 Idaho  March 25   April 30
11              Illinois  March 21     May 30
12               Indiana  March 24      May 3
13                Kansas  March 30      May 3
14             Louisiana  March 23     May 15
15         Massachusetts  March 24     May 18
16              Michigan  March 24      Jun 1
17             Minnesota  March 27     May 17
18           Mississippi   April 3     May 25
19              Missouri   April 6      May 3
20               Montana  March 28   April 24
21                Nevada   April 1     May 15
22         New Hampshire  March 27     Jun 15
23            New Mexico  March 24     Jun 30
24              New York  March 20     Jun 13
25        North Carolina  March 30     May 22
26                  Ohio  March 23     May 19
27              Oklahoma   April 1   April 30
28          Pennsylvania   April 1      Jun 4
29          Rhode Island  March 28      May 8
30        South Carolina   April 7      May 4
31             Tennessee  March 31   April 30
32                 Texas   April 2   April 30
33                  Utah       None     May 1
34               Vermont  March 24     May 15
35              Virginia  March 30     Jun 10
36            Washington  March 24     May 31
37             Wisconsin  March 25     May 13

Utah has None value diffrent than NaN

In [32]:
#change the none to NaN
df3_subset['date_start'].replace('None', np.nan, inplace=True)

C:\Users\arikh\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [34]:
df3_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 3 columns):
state         38 non-null object
date_start    36 non-null object
date_end      38 non-null object
dtypes: object(3)
memory usage: 1.0+ KB

In [35]:
#df3_subset.head()

         state date_start  date_end
0      Alabama    April 4  April 30
1       Alaska  March 28   April 21
2      Arizona  March 31     May 15
3     Colorado  March 26   April 26
4  Connecticut  March 23     May 20

In [15]:
#df3_subset['date_end']= df3_subset.loc[:,'date_end'].str.replace(']', '_')
#df3_subset.head()

In [44]:
#df3['date_end'].str.contains('[.]', regex=True)

In [17]:
#df3_subset['date_end']= df3_subset['date_end'].str.replace('[', '_')
#df3['date_end']= df3['date_end'].str.replace(']', '_')
#df3['date_end'].split('(_\d)','',regex=True, inplace = False)
#df3_subset.head()

In [18]:
#df3_subset['date_end_1'], df3_subset['date_end_2'] = df3_subset['date_end'].str.split('_', 1).str

In [19]:
#df3_new= df3_subset
#df3_new

In [20]:
#df3_new['date_end_1'] = df3_new['date_end_1'].str.replace(r"\s*\([^()]*\)","").str.strip()

In [22]:
#df3_new= df3_new[["state", "date_start", "date_end_1"]]
#df3_new.head()

In [36]:
df3_subset.to_csv('../data/states_lockdown_dates.csv',index=False)