In [1]:
import pandas as pd
import numpy as np

# Read in csv file for united states COVID-19

In [2]:
#no need to read this csv file if we are going to use the next read csv 
#all_states=pd.read_csv('../data/covid_19_daily_update_allStates.csv')

In [3]:
#all_states.head()

Clean the data

In [4]:
#drop the fisrt and second rows
#all_states= all_states.drop([0,1])

In [5]:
#turn columns names to lower case and replace spaces and '/' with '_'
#all_states.columns = map(str.lower, all_states.columns)
#all_states.columns = all_states.columns.str.replace('  ', '_')
#all_states.columns = all_states.columns.str.replace('/', '_')
#all_states.head()

In [6]:
#all_states.info()

In [7]:
#convert columnc type to integer
#all_states = all_states.astype({"positive": float, "negative": float})

change the format of date column

In [8]:
#all_states['date'] = pd.to_datetime(all_states['date'], format='%Y%m%d', errors='ignore')

Add calculated column to the data frame

In [9]:
#all_states['total_testing']= all_states['positive']+all_states['negative']

In [10]:
#all_states.head()

Replace abbreviation in state column with full state name

In [2]:
#create dictionay contains each state's name as the value and the obbreviation as the key
us_state_full_name = {
                    'AL': 'Alabama',
                    'AK': 'Alaska',
                    'AS': 'American Samoa',
                    'AZ': 'Arizona',
                    'AR': 'Arkansas',
                    'CA': 'California',
                    'CO': 'Colorado',
                    'CT': 'Connecticut',
                    'DE': 'Delaware',
                    'DC': 'District of Columbia',
                    'FL': 'Florida',
                    'GA': 'Georgia',
                    'GU': 'Guam',
                    'HI': 'Hawaii',
                    'ID': 'Idaho',
                    'IL': 'Illinois',
                    'IN': 'Indiana',
                    'IA': 'Iowa',
                    'KS': 'Kansas',
                    'KY': 'Kentucky',
                    'LA': 'Louisiana',
                    'ME': 'Maine',
                    'MD': 'Maryland',
                    'MA': 'Massachusetts',
                    'MI': 'Michigan',
                    'MN': 'Minnesota',
                    'MP': 'Northern Mariana Islands',
                    'MS': 'Mississippi',
                    'MO': 'Missouri',
                    'MT': 'Montana',
                    'NE': 'Nebraska',
                    'NV': 'Nevada',
                    'NH': 'New Hampshire',
                    'NJ': 'New Jersey',
                    'NM': 'New Mexico',
                    'NY': 'New York',
                    'NC': 'North Carolina',
                    'ND': 'North Dakota',
                  # 'NM': 'Northern Marianas', #commented out because the key matches the one for new mexico
                    'OH': 'Ohio',
                    'OK': 'Oklahoma',
                    'OR': 'Oregon',
                    'PA': 'Pennsylvania',
                    'PR': 'Puerto Rico',
                    'RI': 'Rhode Island',
                    'SC': 'South Carolina',
                    'SD': 'South Dakota',
                    'TN': 'Tennessee',
                    'TX': 'Texas',
                    'UT': 'Utah',
                    'VT': 'Vermont',
                    'VA': 'Virginia',
                    'VI': 'Virgin Islands',
                    'WA': 'Washington',
                    'WV': 'West Virginia',
                    'WI': 'Wisconsin',
                    'WY': 'Wyoming',
                }

In [3]:
len(us_state_full_name)

56

In [4]:
#replace the obbreviation with full name
#states_names = all_states.replace({"state": us_state_full_name})

Select the intersting columns

In [5]:
# all_states_clean = states_names[['date',
#                               'state',
#                               'positive',
#                               'negative',
#                               'total_testing',
#                               'deaths',
#                               'recovered', ]]

In [15]:
#all_states_clean.head()

In [16]:
#print(all_states_clean.shape)

In [17]:
#all_states_clean['state'].value_counts()

# Read in another csv file for more COVID-19

In [6]:
df2_all_states=pd.read_csv('../data/covid_19_update_allStates_2.csv')

In [7]:
df2_all_states.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200620,AK,743.0,86175.0,NaN,16.0,NaN,NaN,NaN,1.0,...,86918,0,0,af13e2de0181c63965b0d59d62effe005bacd15b,0,0,0,0,0,NaN
1,20200620,AL,29549.0,309974.0,NaN,628.0,2443.0,NaN,717.0,NaN,...,339523,16,27,96bc593e1492fbd39756690db04c9e3ed97c7ca1,0,0,0,0,0,NaN
2,20200620,AR,15142.0,227092.0,NaN,224.0,1100.0,NaN,NaN,53.0,...,242234,10,0,a07a4e7d3e3c3ebc81c365310b6075761c86e4fc,0,0,0,0,0,NaN
3,20200620,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,3fbd7838e4bc8fa9d5152e6e69f6236aaf247c42,0,0,0,0,0,NaN
4,20200620,AZ,49798.0,355482.0,NaN,1938.0,4140.0,546.0,NaN,368.0,...,405280,26,91,bc0450a5fc9030cf249572938820e970547b19fe,0,0,0,0,0,NaN

look for mismatch in the states names

In [8]:
df2_all_states['state'].unique()

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

Replace abbreviation in state column with full state name use the dictionary created above

In [9]:
#replace the obbreviation with full name
df2_all_states = df2_all_states.replace({"state": us_state_full_name})

In [10]:
df2_all_states.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200620,Alaska,743.0,86175.0,NaN,16.0,NaN,NaN,NaN,1.0,...,86918,0,0,af13e2de0181c63965b0d59d62effe005bacd15b,0,0,0,0,0,NaN
1,20200620,Alabama,29549.0,309974.0,NaN,628.0,2443.0,NaN,717.0,NaN,...,339523,16,27,96bc593e1492fbd39756690db04c9e3ed97c7ca1,0,0,0,0,0,NaN
2,20200620,Arkansas,15142.0,227092.0,NaN,224.0,1100.0,NaN,NaN,53.0,...,242234,10,0,a07a4e7d3e3c3ebc81c365310b6075761c86e4fc,0,0,0,0,0,NaN
3,20200620,American Samoa,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,174,0,0,3fbd7838e4bc8fa9d5152e6e69f6236aaf247c42,0,0,0,0,0,NaN
4,20200620,Arizona,49798.0,355482.0,NaN,1938.0,4140.0,546.0,NaN,368.0,...,405280,26,91,bc0450a5fc9030cf249572938820e970547b19fe,0,0,0,0,0,NaN

check to see if names are updated

In [11]:
df2_all_states['state'].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'American Samoa', 'Arizona',
       'California', 'Colorado', 'Connecticut', 'District of Columbia',
       'Delaware', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Northern Mariana Islands', 'Mississippi', 'Montana',
       'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire',
       'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Virgin Islands', 'Vermont',
       'Washington', 'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype=object)

Fill Nan value in the dataframe with 0 so it will be accepted to convert data type to integer

In [12]:
df2_all_states = df2_all_states.fillna(0)

In [13]:
#change the format of columns to use the values in calculating if needed

df2_all_states= df2_all_states.astype({         "positive": int,
                                                "negative": int,
                                                   'fips' : int,
                                               'positive' : int,
                                       'positiveIncrease' : int,
                                               'negative' : int,
                                       'negativeIncrease' : int,
                                       'totalTestResults' : int,
                               'totalTestResultsIncrease' : int,
                                  'hospitalizedCurrently' : int,
                                   'hospitalizedIncrease' : int,
                                                  'death' : int,
                                          'deathIncrease' : int,
                                             'recovered' : int,
                                                'total' : int
                                           })        #convert columns data type to int

In [14]:
#change the format of date column
df2_all_states['date'] = pd.to_datetime(df2_all_states['date'], format='%Y%m%d', errors='ignore')

In [15]:
#df2_all_states['state'].value_counts()

In [16]:
df2_all_states.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'dataQualityGrade', 'lastUpdateEt', 'dateModified',
       'checkTimeEt', 'death', 'hospitalized', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResults', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [17]:
#subset the datframe, Select only the intersting columns
df2_all_states_clean = df2_all_states[['state',
                                      'date',
                                       'fips',
                                   'positive',
                           'positiveIncrease',
                                   'negative',
                           'negativeIncrease',
                           'totalTestResults',
                   'totalTestResultsIncrease',
                      'hospitalizedCurrently',
                       'hospitalizedIncrease',
                                      'death',
                              'deathIncrease',
                                 'recovered',
                                    'total'
                                      ]]

In [18]:
df2_all_states_clean.head()

,state,date,fips,positive,positiveIncrease,negative,negativeIncrease,totalTestResults,totalTestResultsIncrease,hospitalizedCurrently,hospitalizedIncrease,death,deathIncrease,recovered,total
0,Alaska,2020-06-20,2,743,21,86175,3266,86918,3287,16,0,12,0,464,86918
1,Alabama,2020-06-20,1,29549,547,309974,7651,339523,8198,628,27,838,16,15974,339523
2,Arkansas,2020-06-20,5,15142,511,227092,6951,242234,7462,224,0,224,10,10082,242234
3,American Samoa,2020-06-20,60,0,0,174,0,174,0,0,0,0,0,0,174
4,Arizona,2020-06-20,4,49798,3109,355482,9955,405280,13064,1938,91,1338,26,7196,405280

In [19]:
print(df2_all_states_clean.shape)

(6009, 15)

In [32]:
df2_all_states_clean['state'].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'American Samoa', 'Arizona',
       'California', 'Colorado', 'Connecticut', 'District of Columbia',
       'Delaware', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Iowa',
       'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana',
       'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
       'Missouri', 'Northern Mariana Islands', 'Mississippi', 'Montana',
       'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire',
       'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Virgin Islands', 'Vermont',
       'Washington', 'Wisconsin', 'West Virginia', 'Wyoming'],
      dtype=object)

Save it as csv file using the same name

In [20]:
df2_all_states_clean.to_csv('../data/covid_19_daily_update_allStates_2.csv', index= False)

Select only Alaska to check numbers

In [34]:
#test= df2_all_states_clean.loc[(df2_all_states_clean.state == 'Alaska')]

In [35]:
#test.head()

# Read in states lockdown dates csv file

since this dataset contains lockdown data only and it is set for once with no change,
we will import, clean, and save only for one time.

In [36]:
#df3 = pd.read_csv('../data/states_lockdown_dates.csv')

In [37]:
#df3.head()

In [38]:
#df3.info()

In [39]:
#df3.columns

clean the data column

In [40]:
#df3['date_start'], df3['date_end_2'] = df3['Order dates'].str.split('-', 1).str

In [41]:
#df3.head()

In [42]:
#replace the word Apr with April in the date_end column
#df3['date_end'] = df3.date_end.str.replace('Apr', 'April')

In [43]:
#rename the state column
#df3_rename = df3.rename(columns = {'State': 'state'})

In [44]:
#df3_subset= df3_rename [['state', 'date_start', 'date_end']]
#df3_subset.head()

In [45]:
#df3_subset['date_start'] = pd.to_datetime(df3_subset['date_start'], format='%Y%m%d', errors='ignore')
#df3_subset['date_end'] = pd.to_datetime(df3_subset['date_end'], format='%Y%m%d', errors='ignore')

In [46]:
#df3_subset.head()

Utah has None value diffrent than NaN

In [47]:
#change the none to NaN
#df3_subset['date_start'].replace('None', np.nan, inplace=True)

In [48]:
#df3_subset.head()

In [49]:
#df3_subset.info()

In [50]:
#df3_subset.head()

In [51]:
#pd.to_datetime(df3_subset['date_start'].astype(str), format='%m%d')

In [52]:
#df3_subset['date_end'] = pd.to_datetime(df3_subset['date_end'], format='%Y%m%d', errors='ignore')

In [53]:
#df3_subset.info()

In [54]:
#save it to join with all other datasets
#df3_subset.to_csv('../data/states_lockdown_dates.csv',index=False)

In [55]:
#df3_subset['date_end']= df3_subset.loc[:,'date_end'].str.replace(']', '_')
#df3_subset.head()

In [56]:
#df3['date_end'].str.contains('[.]', regex=True)

In [57]:
#df3_subset['date_end']= df3_subset['date_end'].str.replace('[', '_')
#df3['date_end']= df3['date_end'].str.replace(']', '_')
#df3['date_end'].split('(_\d)','',regex=True, inplace = False)
#df3_subset.head()

In [58]:
#df3_subset['date_end_1'], df3_subset['date_end_2'] = df3_subset['date_end'].str.split('_', 1).str

In [59]:
#df3_new= df3_subset
#df3_new

In [60]:
#df3_new['date_end_1'] = df3_new['date_end_1'].str.replace(r"\s*\([^()]*\)","").str.strip()

In [61]:
#df3_new= df3_new[["state", "date_start", "date_end_1"]]
#df3_new.head()